<div *ngIf="batHo">
    <h2>
        <span>Bát họ {{batHo.hopdong.mahopdong}}</span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-address-card-o fa-4x text-primary"></span>
                    </td>
                    <td>
                        <b>Khách hàng</b>:
                        <a [routerLink]="['../../khach-hang-admin', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangTen}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ID</b>:
                        <a [routerLink]="['../../khach-hang-admin', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangId}}</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="3">
                        <span class="fa fa-paypal fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Bát họ</b>: {{batHo.tongtien |currency : 'VND' : true : '2.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Họ từ ngày</b>: {{batHo.hopdong.ngaytao | date:"dd/MM/yyyy"}}
                    </td>
                </tr>
                <tr>
                    <td class="text-danger">
                        <b>Số nợ còn lại</b>: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="4">
                        <span class="fa fa-credit-card text-primary fa-5x"></span>
                    </td>
                    <td>
                        <b>Số tiền đưa khách</b>: {{batHo.tienduakhach |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Tổng tiền phải đóng</b>: {{batHo.tongtien |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td class="text-success">
                        <b>Đã đóng</b>: {{tiendadong |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td class="text-warning">
                        <b>Còn lại</b>: {{batHo.tongtien-tiendadong |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <!-- <button type="button" [routerLink]="['/', { outlets: { popup: 'bat-ho/'+ batHo.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button> -->
    <button type="button" (click)="hienDongHD()" class="btn btn-danger">
        <span class="fa-ban fa"></span>&nbsp; Đóng hợp đồng
    </button>
    <p-dialog modal="true" [(visible)]="dongHD">
        <p-header>
            Bạn chuẩn bị đóng hợp đồng {{batHo.hopdong.mahopdong}}
        </p-header>
        Số tiền còn phải đóng: {{tienchuadong |currency : 'VND' : true : '1.0-0'}}
        <br/> Số tiền còn nợ: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
        <br/> Bạn có chắc chắn muốn đóng hợp đồng này?
        <p-footer>
            <button (click)="dongHopDong()" type="button" class="btn btn-danger">
                <span class="fa fa-check"></span>&nbsp; Đóng hợp đồng
            </button>
            <button type="button" (click)="dongDongHD()" class="btn btn-success">
                <span class="fa fa-close"></span>&nbsp; Hủy
            </button>
        </p-footer>
    </p-dialog>
    <p-tabView>
        <p-growl [(value)]="msgs"></p-growl>
        <p-tabPanel header="Lịch đóng tiền">
            <div class="row">
                <div class="col-md-6">
                    <p-table [value]="lichSuDongTiensDaDong" [scrollable]="true" scrollHeight="200px" [(selection)]="selected" dataKey="id" (onRowSelect)="onRowSelect($event)"
                        (onRowUnselect)="onRowUnselect($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="6" class="bg-success text-center text-white">Tiền họ đã đóng</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <span>Ngày họ</span>
                                </th>
                                <th>
                                    <span>Trạng Thái</span>
                                </th>
                                <th>
                                    <span>Tiền họ</span>
                                </th>
                                <th>
                                    <span>Tiền khách trả</span>
                                </th>
                                <th>
                                    <span>Ngày giao dịch</span>
                                </th>
                                <th *jhiHasAnyAuthority="'ROLE_STORE'">
                                    Hủy đóng tiền
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lichSuDongTien>
                            <!-- <tr [pSelectableRow]="lichSuDongTien" [class.ng-star-inserted]="{true}"> -->
                            <tr [pSelectableRow]="lichSuDongTien">
                                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>
                                    <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                                </td>
                                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>
                                <td *jhiHasAnyAuthority="'ROLE_STORE'">
                                    <p-tableCheckbox [value]="lichSuDongTien"></p-tableCheckbox>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-md-6">
                    <p-table [value]="lichSuDongTiensChuaDong" [scrollable]="true" scrollHeight="200px" [(selection)]="selected" dataKey="id"
                        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="6" class="bg-secondary text-center text-white">Tiền họ chưa đóng</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <span>Ngày họ</span>
                                </th>
                                <th>
                                    <span>Trạng Thái</span>
                                </th>
                                <th>
                                    <span>Tiền họ</span>
                                </th>
                                <th>
                                    <span>Tiền khách trả</span>
                                </th>
                                <th>
                                    <span>Đóng tiền</span>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lichSuDongTien>
                            <!-- <tr [pSelectableRow]="lichSuDongTien" [class.ng-star-inserted]="{true}"> -->
                            <tr [pSelectableRow]="lichSuDongTien">
                                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>
                                    <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                                </td>
                                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>
                                    <p-tableCheckbox [value]="lichSuDongTien" [disabled]="lichSuDongTien.trangthai=='DADONG'" *jhiHasAnyAuthority="'ROLE_STAFF'"></p-tableCheckbox>
                                    <p-tableCheckbox [value]="lichSuDongTien" *jhiHasAnyAuthority="'ROLE_STORE'"></p-tableCheckbox>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Nợ">
            <div class="row ">
                <div class="col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng nợ lãi</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền nợ: </td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="ghiNo.sotien" class="form-control" name="tienno" id="field_tienno" required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveNo()" [disabled]="ghiNo.sotien == 0 || ghiNo.sotien == null" class="btn btn-danger float-right">
                                        <span class="fa fa-balance-scale"></span>
                                        Ghi nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng trả nợ</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền trả: </td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [max]="tienNo-tienTra" [inputStyle]="{'width':'100%'}"
                                        pKeyFilter="pnum" [(ngModel)]="ghiNo.sotien" class="form-control" name="tientra" id="field_tientra"
                                        [disabled]="tienNo-tienTra == 0" required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveTraNo()" [disabled]="tienNo-tienTra == 0 || ghiNo.sotien == null || ghiNo.sotien == 0" class="btn btn-success float-right">
                                        <span class="fa fa-balance-scale"></span>
                                        Trả nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <h3>Lịch sử nợ</h3>
                    <hr/>
                    <br />
                    <p-table [value]="ghiNos" [paginator]="true" [rows]="10" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Ngày</th>
                                <th>Nhân viên</th>
                                <th>Trạng thái</th>
                                <th>Số tiền</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ghiNo>
                            <tr>
                                <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                                <td>{{ghiNo.nhanVienTen}}</td>
                                <td>{{ghiNo.sotien}}</td>
                                <td jhiTranslate="{{'servertdjhipApp.batHo.detail.' + ghiNo.trangthai}}">{{ghiNo.trangthai}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử">
            <div class="row">
                <div class="col-md-12">
                    <h3>Lịch sử thao tác</h3>
                    <br />
                    <p-table [value]="lichSuThaoTacHopDongs" [paginator]="true" [rows]="5" dataKey="id">
                        <ng-template pTemplate="header">
                            <th>Ngày</th>
                            <th>Nhân viên</th>
                            <th>Số tiền ghi nợ</th>
                            <th>Số tiền ghi trả</th>
                            <th>Nội dung</th>
                        </ng-template>
                        <ng-template pTemplate="body" let-lichSuThaoTacHopDong>
                            <tr [pSelectableRow]="lichSuThaoTacHopDong">
                                <td>{{lichSuThaoTacHopDong.thoigian | date: "dd/MM/yyyy lúc hh:mm:ss"}}</td>
                                <td>{{lichSuThaoTacHopDong.nhanVienTen}}</td>
                                <td>{{lichSuThaoTacHopDong.soTienGhiNo}}</td>
                                <td>{{lichSuThaoTacHopDong.soTienGhiCo}}</td>
                                <td>{{lichSuThaoTacHopDong.noidung}}</td>
                            </tr>
                        </ng-template>
                        </table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Đảo họ">
            <div class="row justify-content-center" style="background-color: #e3e3e3">
                <div class="col-md-4" style="background-color:white">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Mã hợp đồng:</td>
                                <td>
                                    <input pInputText #mahopdong type="text" name="mahopdong" class="form-control" id="field_mahopdong" />
                                </td>
                            </tr>
                            <tr>
                                <td>Bát họ mới:</td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="batHoDao.tongtien" class="form-control" name="tongtien" id="field_tongtien"
                                        pTooltip="Nhập  số tiền khách hàng phải đóng (Đơn vị: VNĐ)" tooltipPosition="top" tooltipEvent="hover"
                                        required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td>Tiền đưa khách:</td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="batHoDao.tienduakhach" class="form-control" name="tienduakhach" id="field_tienduakhach"
                                        pTooltip="Nhập số tiền khách nhận
                                        (Tiền lãi - chưa tính bát họ gốc)
                                        (Đơn vị: VNĐ)" tooltipPosition="top" tooltipEvent="hover" required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td>Bốc trong vòng:</td>
                                <td>
                                    <input [(ngModel)]="batHoDao.tongsongay" [min]='0' type="number" pKeyFilter="pnum" class="form-control" name="tongsongay"
                                        id="field_tongsongay" pInputText>
                                </td>
                            </tr>
                            <tr>
                                <td>Số ngày đóng tiền:</td>
                                <td>
                                    <input [(ngModel)]="batHoDao.chuky" type="number" [min]='0' pKeyFilter="pnum" class="form-control" name="chuky" id="field_chuky"
                                        pInputText>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Số tiền đưa khách thực tế : {{batHoDao.tienduakhach |currency : 'VND' : true
                                    : '1.0-0'}}-{{tienchuadong |currency : 'VND' : true : '1.0-0'}}-{{tienNo-tienTra |currency
                                    : 'VND' : true : '1.0-0'}}={{batHoDao.tienduakhach-tienchuadong-(tienNo-tienTra) |currency
                                    : 'VND' : true : '1.0-0'}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center bolder-table-last">
                                    <button (click)="daoHo(mahopdong.value)" class="btn btn-primary">
                                        <span class="fa fa-refresh"></span>
                                        Đảo họ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p-dialog modal="true" [(visible)]="showDaoHo">
                <p-header>
                    Đảo họ
                </p-header>
                Đảo họ thành công!
                <p-footer>
                    <button type="button" (click)="showDaoHo=false" class="btn btn-success">
                        <span class="fa fa-close"></span>&nbsp; Xác nhận
                    </button>
                </p-footer>
            </p-dialog>
        </p-tabPanel>
        <p-tabPanel header="Chứng từ / Tài sản">

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-header">
                                <h4>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span class="modal-title">
                                        Thông tin chứng từ tài sản</span>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="form-control-label">
                                        <span class="fa fa-calendar-check-o"></span>
                                        <span>Số hiệu</span>
                                    </label>
                                    <input [(ngModel)]="taiSan.sohieu" class="form-control" name="tongsongay" id="field_sohieu" placeholder="0" [min]="0" pTooltip="Nhập số hiệu tài sản, chứng từ"
                                        tooltipPosition="top" tooltipEvent="focus" required/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_mota">
                                        <span class="fa fa-sticky-note-o"></span>
                                        <span>Mô tả</span>
                                    </label>
                                    <textarea [(ngModel)]="taiSan.mota" [rows]="5" class="form-control" name="moTa" id="field_moTa" [cols]="30" pTooltip="Mô tả thông tin tài sản, chứng từ"
                                        tooltipPosition="top" tooltipEvent="focus" pInputTextarea autoResize="autoResize"></textarea>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_noicat">
                                        <span class="fa fa-sticky-note-o"></span>
                                        <span>Nơi cất</span>
                                    </label>
                                    <textarea [(ngModel)]="taiSan.noicat" [rows]="5" class="form-control" name="noiCat" id="field_noiCat" [cols]="30" pTooltip="Điền nơi cất chứng từ, tài sản"
                                        tooltipPosition="top" tooltipEvent="focus" pInputTextarea autoResize="autoResize"></textarea>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success" (click)="saveChungTu()">
                                <span class="fa fa-save"></span>&nbsp;
                                <span jhiTranslate="entity.action.save">Save</span>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Danh sách chứng từ tài sản</h4>
                            <hr/>
                            <p-table [value]="taiSans" [paginator]="true" [rows]="10" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Số hiệu</th>
                                        <th>Mô tả</th>
                                        <th>Nơi cất</th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-taiSan>
                                    <tr>
                                        <td>{{taiSan.sohieu}}</td>
                                        <td>{{taiSan.mota}}</td>
                                        <td>{{taiSan.noicat}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-md-4">
                    <p-galleria [images]="images" panelWidth="100%" panelHeight="313" [showCaption]="false"></p-galleria>
                </div> -->
                <div class="col-md-11 offset-md-1">
                    <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-dialog modal="true" [(visible)]="dongTraNo">
        <p-header>
            Trả nợ
        </p-header>
        Bạn đã trả nợ thành công cho hợp đồng này
        <br/>Số tiền ghi nợ: {{ghiNo.sotien |currency : 'VND' : true : '1.0-0'}}
        <p-footer>
            <button type="button" (click)="dongTraNo=false" class="btn btn-success">
                <span class="fa fa-close"></span>&nbsp; Xác nhận
            </button>
        </p-footer>
    </p-dialog>
    <p-dialog modal="true" [(visible)]="dongGhiNo">
        <p-header>
            Ghi nợ
        </p-header>
        Bạn đã ghi nợ thành công cho hợp đồng này
        <br/>Số tiền trả nợ: {{ghiNo.sotien |currency : 'VND' : true : '1.0-0'}}
        <p-footer>
            <button type="button" (click)="dongGhiNo=false" class="btn btn-success">
                <span class="fa fa-close"></span>&nbsp; Xác nhận
            </button>
        </p-footer>
    </p-dialog>
</div>