<div *ngIf="batHo">
    <h2>
        <span jhiTranslate="servertdjhipApp.batHo.detail.title">Bat Ho</span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover text-left">
                <tr>
                    <th>Tên khách hàng</th>
                    <td>
                        <a [routerLink]="['../../khach-hang', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangTen}}</a>
                    </td>
                    <td>
                        ID:
                        <a [routerLink]="['../../khach-hang', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangId}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Bát họ</th>
                    <td colspan="2">{{batHo.tongtien |currency : 'VND' : true : '2.0-0'}}</td>
                </tr>
                <tr>
                    <th>Họ từ ngày</th>
                    <td colspan="2">{{batHo.hopdong.ngaytao | date:"dd/MM/yyyy"}}</td>
                    <!-- <td>{{batHo.hopdong.ngaytao}}</td> -->
                </tr>
                <tr>
                    <th>Nợ</th>
                    <td colspan="2">{{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Số tiền đưa khách (lãi)</th>
                    <td>{{batHo.tienduakhach |currency : 'VND' : true : '1.0-0'}}</td>
                </tr>
                <tr>
                    <th>Tổng tiền phải đóng</th>
                    <td>{{batHo.tongtien |currency : 'VND' : true : '1.0-0'}}</td>
                </tr>
                <tr>
                    <th>Đã đóng</th>
                    <td>{{batHo.tongtien-tienchuadong |currency : 'VND' : true : '1.0-0'}}</td>
                </tr>
                <tr>
                    <th>Còn lại</th>
                    <td>{{tienchuadong |currency : 'VND' : true : '1.0-0'}}</td>
                </tr>
                <tr>
                    <th>Hợp đồng gốc</th>
                    <td>
                        <a [routerLink]="['../../hop-dong', batHo.hopdong.hopdonggocId ]">{{batHo.hopdong.hopdonggocId}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <!-- <button type="button" [routerLink]="['/', { outlets: { popup: 'bat-ho/'+ batHo.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button> -->
    <button type="button" (click)="hienDongHD()" class="btn btn-danger">
        <span class="fa-ban fa"></span>&nbsp; Đóng hợp đồng
    </button>
    <p-dialog modal="true" [(visible)]="dongHD">
        <p-header>
            Bạn chuẩn bị đóng hợp đồng {{batHo.hopdong.mahopdong}}
        </p-header>
        Số tiền còn phải đóng: {{tienchuadong + tienNo-tienTra|currency : 'VND' : true : '1.0-0'}}
        <br/> Bạn có chắc chắn muốn đóng hợp đồng này?
        <p-footer>
            <button (click)="dongHopDong()" type="button" class="btn btn-danger">
                <span class="fa fa-check"></span>&nbsp; Đóng hợp đồng
            </button>
            <button type="button" (click)="dongDongHD()" class="btn btn-success">
                <span class="fa fa-close"></span>&nbsp; Hủy
            </button>
        </p-footer>
    </p-dialog>
    <p-tabView>
        <p-growl [(value)]="msgs"></p-growl>
        <p-tabPanel header="Lịch đóng tiền">
            <p-table [value]="lichSuDongTiens" [paginator]="true" [rows]="5" [(selection)]="selected" dataKey="id" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="2">
                            <span>Ngày họ</span>
                        </th>
                        <th>
                            <span>Trạng Thái</span>
                        </th>
                        <th>
                            <span>Tiền họ</span>
                        </th>
                        <th>
                            <span>Tiền khách trả</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lichSuDongTien>
                    <!-- <tr [pSelectableRow]="lichSuDongTien" [class.ng-star-inserted]="{true}"> -->
                    <tr [pSelectableRow]="lichSuDongTien" [className]="light">
                        <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                        <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                        <td>
                            <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                        </td>

                        <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>

                        <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                        <td>
                            <p-tableCheckbox [value]="lichSuDongTien" [disabled]="lichSuDongTien.trangthai=='DADONG'"   ></p-tableCheckbox>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Nợ">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng nợ lãi</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền nợ: </td>
                                <td>
                                    <input name="sotien" [(ngModel)]="ghiNo.sotien" pInputText placeholder="0">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveNo()" class="btn btn-primary float-right">Ghi nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng trả nợ</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền trả: </td>
                                <td>
                                    <input [(ngModel)]="ghiNo.sotien" pInputText placeholder="0">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveTraNo()" class="btn btn-primary float-right">Trả nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử">
            <div class="row">
                <div class="col-md-12">
                    <span class="ui-float-label">
                        <textarea id="float-input" [rows]="5" [cols]="170" pInputTextarea></textarea>
                        <label for="float-input">Ghi chú</label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary float-right">Lưu</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12">
                    <h3>Lịch sử thao tác</h3>
                    <br />
                    <p-table [value]="lichSuThaoTacHopDongs" [paginator]="true" [rows]="5" dataKey="id">
                        <ng-template pTemplate="header">
                            
                            <th>Ngày</th>
                            <th>Nhân viên</th>
                            <th>Nội dung</th>
                        </ng-template>
                        <ng-template pTemplate="body" let-lichSuThaoTacHopDong>
                            <tr [pSelectableRow]="lichSuThaoTacHopDong">
                               
                                <td>{{lichSuThaoTacHopDong.thoigian | date: "dd/MM/yyyy lúc hh:mm:ss"}}</td>
                                <td>{{lichSuThaoTacHopDong.nhanVienTen}}</td>
                                <td>{{lichSuThaoTacHopDong.noidung}}</td>
                            </tr>
                        </ng-template>
                        </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Lịch sử nhắc nợ</h3>
                    <br />
                    <p-table class="table table-bordered text-center">
                        <thead>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>Nhân viên</th>
                            <th>Số tiền ghi nợ</th>
                            <th>Số tiền ghi có</th>
                            <th>Nội dung</th>
                        </thead>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Đảo họ">
            <div class="row">
                <div class="col-md-12">
                    <form name="editForm" role="form" novalidate #editForm="ngForm">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Ngày đảo họ:</td>
                                    <td>
                                        <p-calendar></p-calendar>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bát họ mới:</td>
                                    <td>
                                        <input [(ngModel)]="batHoDao.tongtien" class="form-control" name="tongtien" id="field_tongtien" pInputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tiền đưa khách:</td>
                                    <td>
                                        <input [(ngModel)]="batHoDao.tienduakhach" class="form-control" name="tienduakhach" id="field_tienduakhach" pInputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bốc trong vòng:</td>
                                    <td>
                                        <input [(ngModel)]="batHoDao.tongsongay" type="number" pKeyFilter="pnum" class="form-control" name="tongsongay" id="field_tongsongay"
                                            pInputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số ngày đóng tiền:</td>
                                    <td>
                                        <input [(ngModel)]="batHoDao.chuky" type="number" pKeyFilter="pnum" class="form-control" name="chuky" id="field_chuky" pInputText>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số tiền đưa khách thực tế : {{batHoDao.tienduakhach}}-{{tienchuadong}}-{{tienNo-tienTra}}={{batHoDao.tienduakhach-tienchuadong-(tienNo-tienTra)}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center bolder-table-last">
                                        <button type="submit" (click)="daoHo()" class="btn btn-primary">Đảo họ</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Chứng từ">
            <div class="row">
                <div class="col-md-12">
                    <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>