<div>
    <h2>
        <span jhiTranslate="servertdjhipApp.batHo.home.title">Bat Hos</span>
        <button class="btn btn-primary float-right jh-create-entity create-bat-ho" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/batHoMoi">
        <!-- <button class="btn btn-primary float-right jh-create-entity create-bat-ho" [routerLink]="['/', { outlets: { popup: ['bat-ho-new'] } }]"> -->
            <span class="fa fa-plus"></span>
            <span jhiTranslate="servertdjhipApp.batHo.home.createLabel">
                Create new Bat Ho
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <hr/>

    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="batHos">
        <p-table [value]="batHos" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header" >
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">ID</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.batHo.tienduakhach">Tienduakhach</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.batHo.tongtien">Tongtien</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.batHo.tongsongay">Tongsongay</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.batHo.chuky">Chuky</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-batHo >
                <tr [pSelectableRow]="batHo"  [routerLink]="['../bat-ho', batHo.id ]">
                    <td>{{batHo.id}}</td>
                    <td>{{batHo.tienduakhach}}</td>
                    <td>{{batHo.tongtien}}</td>
                    <td>{{batHo.tongsongay}}</td>
                    <td>{{batHo.chuky}}</td>
                </tr>
       </ng-template>
        </table>
        <jhi-hop-dong-dialog></jhi-hop-dong-dialog>
    </div>
</div>