<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <span class="ui-float-label">
          <textarea id="float-input" [rows]="5" [cols]="170" pInputTextarea></textarea>
          <label for="float-input">Ghi chú</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary float-right">Lưu</button>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h3>Lịch sử nhắc nợ</h3>
        <br />
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Ngày</th>
            <th>Nhân viên</th>
            <th>Nội dung</th>
          </thead>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Lịch sử thao tác</h3>
        <br />
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Ngày</th>
            <th>Nhân viên</th>
            <th>Số tiền ghi nợ</th>
            <th>Số tiền ghi có</th>
            <th>Nội dung</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>