<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAnhKhachHangLabel" jhiTranslate="servertdjhipApp.anhKhachHang.home.createOrEditLabel">Create or edit a Anh Khach Hang</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!anhKhachHang.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="anhKhachHang.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="servertdjhipApp.anhKhachHang.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="anhKhachHang.url" required maxlength="1000"/>
            <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.url?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                   This field cannot be longer than 1000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="servertdjhipApp.anhKhachHang.khachHang" for="field_khachHang">Khach Hang</label>
            <select class="form-control" id="field_khachHang" name="khachHang" [(ngModel)]="anhKhachHang.khachHangId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="khachHangOption.id" *ngFor="let khachHangOption of khachhangs; trackBy: trackKhachHangById">{{khachHangOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
