<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Ngày đóng HĐ: </td>
              <!-- <td><p-calendar [(ngModel)]="value"></p-calendar></td> -->
              <td>
                <p-calendar></p-calendar>
              </td>
            </tr>
            <tr>
              <td>Tiền cầm: </td>
              <td>0 vnđ</td>
            </tr>
            <tr>
              <td>Nợ cũ: </td>
              <td>0 vnđ</td>
            </tr>
            <tr>
              <td>Tiền lãi: </td>
              <td>0 vnđ</td>
            </tr>
            <tr>
              <td>Tiền khác: </td>
              <td>
                <input type="number" pInputText>
              </td>
            </tr>
            <tr>
              <td>Tổng tiền chuộc: </td>
              <td>0 vnđ</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center bolder-table-last"><button class="btn btn-primary">Đóng HĐ</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>