<div class="main-content">
  <!-- header -->
  <div class="container-fluid">
    <div class="row">
      <h2 class="col-md-7">Thống kê lợi nhuận</h2>
      <h4 class="col-md-3">HỢP ĐỒNG MỚI</h4>
      <h4 class="col-md-2">LỢI NHUẬN</h4>
    </div>
  </div>
  <!-- /Page Header -->
  <div style="border-top:1px solid #cecece;height:5px;"></div>
  <!-- /Widget Chart -->
  <form class="form-vertical" method="post">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label class="control-label">
            Từ ngày</label>
          <input class="form-control" type="date">
        </div>
        <div class="col-md-3">
          <label class="control-label">
            Đến ngày
          </label>
          <input class="form-control" type="date">
        </div>

        <div class="col-md-2" style="padding-top:2.7% ">
          <button class="btn btn-info btnSearch">
            Tìm kiếm
          </button>
          <button class="btn btn-sm btnSearch" title="Xuất excel" style="margin-left:20px;">
            <i class="	fa fa-file-excel-o"></i>
          </button>
        </div>
      </div>

    </div>
  </form>
  <div class="form-group">
    <div class="widget-content">
      <table class="table table-striped table-hover table-bordered table-calendar">
        <thead>
          <tr>
            <th width="100px" style="text-align: center" rowspan="2">
              Hợp đồng
            </th>
            <th colspan="3" style="text-align: center">
              Tạo mới/cũ
            </th>
            <th style="text-align: center" colspan="5">
              Theo trạng thái
            </th>
            <th style="text-align: center" colspan="4">
              Thông tin tiền
            </th>

          </tr>
          <tr>
            <th style="text-align: right">
              Tổng
            </th>
            <th style="text-align: right">
              Mới
            </th>
            <th style="text-align: right">
              Cũ
            </th>

            <th style="text-align: right">
              Đóng
            </th>
            <th style="text-align: right">
              Trả lãi
            </th>
            <th style="text-align: right">
              Nợ lãi
            </th>
            <th style="text-align: right">
              Quá hạn
            </th>
            <th style="text-align: right">
              T.Lý
            </th>
            <th style="text-align: right">
              Tổng tiền cho vay
            </th>
            <th style="text-align: right">
              Đang cho vay
            </th>

            <th style="text-align: right">
              Lợi nhuận
            </th>
            <th style="text-align: right">
              Khách nợ
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center">
              Cầm đồ
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td style="color:red">0</td>
            <td style="color:red">0</td>

            <td>
              <span style="color:red">0</span>
            </td>
            <td>0</td>
          </tr>
          <tr>
            <td align="center">
              Vay lãi
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td style="color:red">0</td>
            <td style="color:red">0</td>

            <td>
              <span style="color:red">0</span>
            </td>
            <td>0</td>
          </tr>
          <tr>
            <td align="center">
              Vay họ
            </td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td style="color:red">3</td>
            <td style="color:red">0</td>

            <td>
              <span style="color:red">0</span>
            </td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              Thu hoạt động
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td style="color:red">0</td>
            <td style="color:red">0</td>


            <td>
              <span style="color:blue">+11</span>
            </td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              Chi hoạt động
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td style="color:red">0</td>
            <td style="color:red">0</td>

            <td>
              <span style="color:red">-1</span>
            </td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              Trả lãi vốn vay
            </td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td style="color:red">0</td>
            <td style="color:red">0</td>

            <td>
              <span style="color:red">0</span>
            </td>
            <td>0</td>
          </tr>
          <!--FOOTER-->
          <tr class="tr_footer">
            <td align="center">
              <a style="color:brown">
                <strong>Tổng cộng</strong>
              </a>
            </td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td id="TotalMoney" style="color:red">3</td>
            <td style="color:red">0</td>

            <td>
              <span style="color:blue">+10</span>
            </td>
            <td>0</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <!--Box loading-->



  <!--FOOTER CONTENT-->
</div>