<div>
    <div class="row modal-header">
        <div class="col-md-6">
            <h2>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Nhân viên</span>
            </h2>
        </div>
        <!-- cua-hang-admin(popup:user-management-new) -->
        <div class="col-md-3">
            <button class="btn btn-success pull-right" [routerLink]="['/', { outlets: { popup: ['nhan-vien-new'] } }]">
                <span class="fa fa-plus"></span>
                <span>
                    Tạo nhân viên mới
                </span>
            </button>
        </div>
        <div class="col-md-2 offset-md-1">
            <button class="btn btn-success pull-left" [routerLink]="['/', { outlets: { popup: ['user-management-new'] } }]" routerLinkActive="active">
                <span class="fa fa-plus"></span>
                <span>
                    Tạo tài khoản mới
                </span>
            </button>
        </div>
    </div>
    <br/>
    <div>
        <div>
            <h3>
                <i class="pi pi-search" width="20%" aria-hidden="true"></i>
                Tìm nhân viên</h3>
            <div class="ui-g-2">
                <span class="ui-float-label">
                    <input id="float-input" name="keyTimVayLai" placeholder="Thông tin tìm kiếm" [(ngModel)]="keyTimNhanVien" pInputText type="text"
                        size="30" pTooltip="Tên nhân viên / CMND / SĐT" tooltipPosition="top" tooltipEvent="focus">
                    <label for="float-input"></label>
                </span>
            </div>
        </div>
        <div class="ui-g-2">
            <button class="btn btn-primary float-left" (click)="timNhanVien()">
                <span class="pi pi-search"></span>
                Tìm kiếm</button>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nhanViens">
        <p-table [value]="nhanViens" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <span>ID</span>
                    </th>
                    <th>
                        <span>Họ tên</span>
                    </th>
                    <th>
                        <span>Địa chỉ</span>
                    </th>
                    <th>
                        <span>Số điện thoại</span>
                    </th>
                    <th>
                        <span>CMND</span>
                    </th>
                    <th>
                        <span>Trạng thái</span>
                    </th>
                    <th>
                        <span>Tài khoản</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nhanVien>
                <tr [pSelectableRow]="nhanVien" [routerLink]="['../nhan-vien-admin', nhanVien.id ]">
                    <td>{{nhanVien.id}}</td>
                    <td>{{nhanVien.ten}}</td>
                    <td>{{nhanVien.diachi}}</td>
                    <td>{{nhanVien.dienthoai}}</td>
                    <td>{{nhanVien.cmnd}}</td>
                    <td jhiTranslate="{{'servertdjhipApp.TrangThaiNhanVien.' + nhanVien.trangthai}}">{{nhanVien.trangthai}}</td>
                    <td>{{nhanVien.userId}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>