<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-header">
            <h4>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="modal-title" id="myCuaHangLabel" jhiTranslate="servertdjhipApp.cuaHang.home.createOrEditLabel">Create or edit a Cua Hang</span>
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label class="form-control-label" for="field_ten">Đại diện cửa hàng</label>
          <input type="text" class="form-control" name="ten" id="field_ten" [(ngModel)]="cuaHang.ten" required/>
        </div>
        <div class="form-group col-md-6">
          <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.diachi" for="field_diachi">Diachi</label>
          <input type="text" class="form-control" name="diachi" id="field_diachi" [(ngModel)]="cuaHang.diachi" maxlength="200" required/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.dienthoai" for="field_dienthoai">Dienthoai</label>
          <input type="text" class="form-control" name="dienthoai" id="field_dienthoai" [(ngModel)]="cuaHang.dienthoai" required/>
        </div>
        <div class="form-group col-md-6">
          <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.trangthai" for="field_trangthai">Trangthai</label>
          <select class="form-control" name="trangthai" [(ngModel)]="cuaHang.trangthai" id="field_trangthai">
            <option value="DUNGHOATDONG">{{'servertdjhipApp.TrangThaiCuaHang.DUNGHOATDONG' | translate}}</option>
            <option value="HOATDONG">{{'servertdjhipApp.TrangThaiCuaHang.HOATDONG' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.ngayTao" for="field_ngayTao">Ngay Tao</label>
              <div class="d-flex">
                <p-calendar id="field_ngayTao" [(ngModel)]="cuaHang.ngayTao" dateFormat="dd.mm.yy" name="ngayTao"></p-calendar>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.tinh" for="field_xa">Tinh</label>
              <select class="form-control" id="field_tinh" name="tinh">
                <option [ngValue]="null"></option>
                <!-- <option [ngValue]="xaOption.id" *ngFor="let xaOption of xas; trackBy: trackXaById">{{xaOption.id}}</option> -->
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.huyen" for="field_xa">Huyen</label>
              <select class="form-control" id="field_huyen" name="huyen">
                <option [ngValue]="null"></option>
                <!-- <option [ngValue]="xaOption.id" *ngFor="let xaOption of xas; trackBy: trackXaById">{{xaOption.id}}</option> -->
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.xa" for="field_xa">Xa</label>
              <select class="form-control" id="field_xa" name="xa" [(ngModel)]="cuaHang.xaId">
                <option [ngValue]="null"></option>
                <option [ngValue]="xaOption.id" *ngFor="let xaOption of xas; trackBy: trackXaById">{{xaOption.id}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="servertdjhipApp.cuaHang.ghiChu" for="field_ghiChu">Ghi Chu</label>
            <textarea [rows]="5" [cols]="30" type="text" class="form-control" name="ghiChu" id="field_ghiChu" [(ngModel)]="cuaHang.ghiChu"
              maxlength="3000"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;
          <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
          <span class="fa fa-save"></span>&nbsp;
          <span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </div>
  </div>
</form>