<div *ngIf="vayLai">
    <h2>
        <span jhiTranslate="servertdjhipApp.vayLai.detail.title">Vay Lai</span> {{vayLai.hopdongvl.mahopdong}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col-md-4 offset-md-1">
            <p-galleria [images]="images" panelWidth="100%" panelHeight="313" [showCaption]="false"></p-galleria>
        </div>
        <div class="col-md-6 offset-md-1">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td rowspan="4">
                            <span class="fa fa-paypal fa-5x text-primary"></span>
                        </td>
                        <td>
                            <b>Tiền vay</b>: {{vayLai.tienvay |currency : 'VND' : true : '1.0-0'}}
                        </td>
                        <td rowspan="4">
                            &nbsp;
                        </td>
                        <td rowspan="4">
                            <span class="fa fa-credit-card text-primary fa-5x"></span>
                        </td>
                        <td>
                            <b>Tổng lãi</b>: {{tonglai |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày vay</b>: {{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}
                        </td>
                        <td>
                            <b>Lãi</b>: {{vayLai.lai |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Số ngày vay</b>: {{vayLai.thoigianvay}}
                        </td>
                        <td>
                            <b>Cách tính lãi</b>:
                            <span jhiTranslate="{{'servertdjhipApp.TINHLAI.' + vayLai.cachtinhlai}}">{{vayLai.cachtinhlai}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-danger">
                            <b>Số nợ còn lại</b>: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
                        </td>
                        <td>
                            <b>Hình thức lãi</b>:
                            <span jhiTranslate="{{'servertdjhipApp.HINHTHUCLAI.' + vayLai.hinhthuclai}}">{{vayLai.hinhthuclai}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <span class="fa fa-address-card-o fa-4x text-primary"></span>
                        </td>
                        <td>
                            <b>Khách hàng</b>:
                            <a [routerLink]="['../../khach-hang', vayLai.hopdongvl.khachHangId ]">{{vayLai.hopdongvl.khachHangTen}}</a>
                        </td>
                        <td rowspan="2">&nbsp;</td>
                        <td rowspan="2">
                            <span class="fa fa-refresh text-primary fa-5x"></span>
                        </td>
                        <td class="text-success">
                            <b>Đã đóng</b>: {{tiendadong |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>ID</b>:
                            <a [routerLink]="['../../khach-hang', vayLai.hopdongvl.khachHangId ]">{{vayLai.hopdongvl.khachHangId}}</a>
                        </td>
                        <td class="text-warning">
                            <b>Còn lại</b>: {{tonglai - tiendadong |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" (click)="hienDongHD()" class="btn btn-danger">
        <span class="fa-ban fa"></span>&nbsp; Đóng hợp đồng
    </button>
    <p-dialog modal="true" [(visible)]="dongHD">
        <p-header>
            Bạn chuẩn bị đóng hợp đồng {{vayLai.hopdongvl.mahopdong}}
        </p-header>
        Số tiền còn phải đóng: {{tienchuadong |currency : 'VND' : true : '1.0-0'}}
        <br/> Số tiền còn nợ: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
        <br/> Bạn có chắc chắn muốn đóng hợp đồng này?
        <p-footer>
            <button type="button" (click)="dongHopDong()" class="btn btn-danger">
                <span class="fa fa-check"></span>&nbsp; Đóng hợp đồng
            </button>
            <button type="button" (click)="dongDongHD()" class="btn btn-success">
                <span class="fa fa-close"></span>&nbsp; Hủy
            </button>
        </p-footer>
    </p-dialog>
    <p-tabView>
        <p-growl [(value)]="msgs"></p-growl>
        <p-tabPanel header="Đóng lãi">
            <p-table [value]="lichSuDongTiens" [paginator]="true" [rows]="8" [(selection)]="selected" dataKey="id" (onRowSelect)="onRowSelect($event)"
                (onRowUnselect)="onRowUnselect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="2">Ngày</th>
                        <th>Trạng thái</th>
                        <th>Chu kỳ lãi</th>
                        <th>Tiền khách trả</th>
                        <th>
                            Đóng tiền
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lichSuDongTien>
                    <tr [pSelectableRow]="lichSuDongTien">
                        <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                        <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                        <td>
                            <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                        </td>
                        <td>{{vayLai.chukylai }}</td>
                        <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                        <td>
                            <p-tableCheckbox [value]="lichSuDongTien" [disabled]="lichSuDongTien.trangthai=='DADONG'" *jhiHasAnyAuthority="'ROLE_STAFF'" ></p-tableCheckbox>
                            <p-tableCheckbox [value]="lichSuDongTien" *jhiHasAnyAuthority="'ROLE_STORE'" ></p-tableCheckbox>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-dialog modal="true" [(visible)]="dongLai">
                <p-header>
                    Đóng lãi cho hợp đồng {{vayLai.hopdongvl.mahopdong}}
                </p-header>
                Số tiền đóng: {{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}
                <br/> Bạn có chắc chắn muốn đóng tiền?
                <p-footer>
                    <button (click)="onRowSelect($event)" type="button" class="btn btn-success">
                        <span class="fa fa-check"></span>&nbsp; Xác nhận
                    </button>
                    <button type="button" (click)="dongDongLai()" class="btn btn-danger">
                        <span class="fa fa-close"></span>&nbsp; Hủy
                    </button>
                </p-footer>
            </p-dialog>
        </p-tabPanel>
        <p-tabPanel header="Trả bớt gốc">
            <div class="row">
                <div class="col-md-4 table-bordered">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="margin-top:10px">
                                <span class="fa fa-bitcoin"></span>
                                Trả gốc
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="float-right font-size-3">Trả bớt gốc:</span>
                        </div>
                        <div class="col-md-5 form-group">
                            <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                class="form-control" name="trabotgoc" #trabotgoc id="field_trabotgoc" required></p-spinner>
                        </div>
                        <div class="col-md-3">
                            <button (click)="traGoc(trabotgoc.value)" class="btn btn-success">
                                <span class="fa fa-check"></span>
                                Đồng ý</button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Vay thêm">
            <div class="row">
                <div class="col-md-4 table-bordered">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="margin-top:10px">
                                <span class="fa fa-bitcoin"></span>
                                Vay thêm tiền
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="float-right font-size-3">Số tiền vay thêm:</span>
                        </div>
                        <div class="col-md-5 form-group">
                            <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                class="form-control" #vaythem name="vaythemtien" id="field_vaythemtien" required></p-spinner>
                        </div>
                        <div class="col-md-3">
                            <button (click)="vayThem(vaythem.value)" class="btn btn-success">
                                <span class="fa fa-check"></span>
                                Đồng ý</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="float-right font-size-3">Ghi chú:</span>
                        </div>
                        <div class="col-md-8">
                            <span class="ui-float-label">
                                <textarea id="float-input" [rows]="2" [cols]="24" pInputTextarea></textarea>
                                <label for="float-input">Thông tin bổ sung</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Gia hạn">
            <div class="row">
                <div class="col-md-5 table-bordered">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="margin-top:10px">
                                <span class="fa fa-calendar"></span>
                                Gia hạn hợp đồng cho khách hàng: {{vayLai.hopdongvl.khachHangTen}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="float-right font-size-3">Thời gian vay:</span>
                        </div>
                        <div class="col-md-4 form-group">
                            <input #giahan [min]="0" type="number" class="form-control" pInputText>
                        </div>
                        <div class="col-md-1">
                            <span>(Ngày)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="float-right font-size-3">Ghi chú:</span>
                        </div>
                        <div class="col-md-4">
                            <span class="ui-float-label">
                                <textarea id="float-input" [rows]="2" [cols]="24" pInputTextarea></textarea>
                                <label for="float-input">Thông tin bổ sung</label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <button (click)="giaHan(giahan.value)" class="btn btn-success">
                                <span class="fa fa-check"></span>
                                Đồng ý</button>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Nợ">
            <div class="row ">
                <div class="col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng nợ lãi</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền nợ: </td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="ghiNo.sotien" class="form-control" name="tienno" id="field_tienno" required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveNo()" class="btn btn-danger float-right">
                                        <span class="fa fa-balance-scale"></span>
                                        Ghi nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng trả nợ</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền trả: </td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="ghiNo.sotien" class="form-control" name="tientra" id="field_tientra" [disabled]="tienNo-tienTra == 0"
                                        required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveTraNo()" class="btn btn-success float-right">
                                        <span class="fa fa-balance-scale"></span>
                                        Trả nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <h3>Lịch sử nợ</h3>
                    <hr/>
                    <br />
                    <p-table [value]="ghiNos" [paginator]="true" [rows]="10" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Ngày</th>
                                <th>Nhân viên</th>
                                <th>Trạng thái</th>
                                <th>Số tiền</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ghiNo>
                            <tr>
                                <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                                <td>{{ghiNo.nhanVienTen}}</td>
                                <td>{{ghiNo.sotien}}</td>
                                <td>{{ghiNo.trangthai}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Trả nợ">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2" class="bolder-table-first">Khách hàng trả nợ</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Số tiền trả: </td>
                                <td>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="ghiNo.sotien" class="form-control" name="tientra" id="field_tientra" required></p-spinner>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bolder-table-last">
                                    <button (click)="saveTraNo()" class="btn btn-success float-right">
                                        <span class="fa fa-balance-scale"></span>
                                        Trả nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </p-tabPanel> -->
        <p-tabPanel header="Lịch sử">
            <div class="row">
                <div class="col-md-5 table-bordered">
                    <div class="row" style="marin-top:10px">
                        <div class="col-md-12">
                            <span class="ui-float-label" style="marin-top:10px">
                                <textarea id="float-input" [rows]="5" [cols]="87" pInputTextarea></textarea>
                                <label for="float-input">Ghi chú</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success float-right">
                                <span class="fa fa-save"></span>
                                Lưu</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>Lịch sử thao tác</h3>
                    <br />
                    <p-table [value]="lichSuThaoTacHopDongs" [paginator]="true" [rows]="5" dataKey="id">
                        <ng-template pTemplate="header">

                            <th>Ngày</th>
                            <th>Nhân viên</th>
                            <th>Số tiên ghi nợ</th>
                            <th>Số tiền ghi có</th>
                            <th>Nội dung</th>
                        </ng-template>
                        <ng-template pTemplate="body" let-lichSuThaoTacHopDong>
                            <tr [pSelectableRow]="lichSuThaoTacHopDong">
                                <td>{{lichSuThaoTacHopDong.thoigian | date: "dd/MM/yyyy lúc hh:mm:ss"}}</td>
                                <td>{{lichSuThaoTacHopDong.nhanVienTen}}</td>
                                <td>{{lichSuThaoTacHopDong.soTienGhiNo}}</td>
                                <td>{{lichSuThaoTacHopDong.soTienGhiCo}}</td>
                                <td>{{lichSuThaoTacHopDong.noidung}}</td>
                            </tr>
                        </ng-template>
                        </table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Chứng từ">
            <div class="row">
                <div class="col-md-12">
                    <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>