
<div *ngIf="vayLai">
    <h2><span jhiTranslate="servertdjhipApp.vayLai.detail.title">Vay Lai</span> {{vayLai.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="servertdjhipApp.vayLai.tienvay">Tienvay</span></dt>
        <dd>
            <span>{{vayLai.tienvay}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.hinhthuclai">Hinhthuclai</span></dt>
        <dd>
            <span jhiTranslate="{{'servertdjhipApp.HINHTHUCLAI.' + vayLai.hinhthuclai}}">{{vayLai.hinhthuclai}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.thoigianvay">Thoigianvay</span></dt>
        <dd>
            <span>{{vayLai.thoigianvay}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.chukylai">Chukylai</span></dt>
        <dd>
            <span>{{vayLai.chukylai}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.lai">Lai</span></dt>
        <dd>
            <span>{{vayLai.lai}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.cachtinhlai">Cachtinhlai</span></dt>
        <dd>
            <span jhiTranslate="{{'servertdjhipApp.TINHLAI.' + vayLai.cachtinhlai}}">{{vayLai.cachtinhlai}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.thulaitruoc">Thulaitruoc</span></dt>
        <dd>
            <span>{{vayLai.thulaitruoc}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.vayLai.hopdongvl">Hopdongvl</span></dt>
        <dd>
            <div *ngIf="vayLai.hopdongvlId">
                <a [routerLink]="['/hop-dong', vayLai.hopdongvlId]">{{vayLai.hopdongvlId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'vay-lai/'+ vayLai.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
    <p-tabView>
        <p-tabPanel header="Đóng lãi">
           <jhi-vay-lai-dong-lai></jhi-vay-lai-dong-lai>
        </p-tabPanel>
        <p-tabPanel header="Trả bớt gốc">
            <jhi-vay-lai-tra-bot-goc></jhi-vay-lai-tra-bot-goc>
        </p-tabPanel>
        <p-tabPanel header="Vay thêm"> 
            <jhi-vay-lai-vay-them></jhi-vay-lai-vay-them>
        </p-tabPanel>
        <p-tabPanel header="Gia hạn">
            <jhi-vay-lai-gia-han></jhi-vay-lai-gia-han>
        </p-tabPanel>
        <p-tabPanel header="Đóng hợp đồng"> 
            <jhi-vay-lai-dong-hop-dong></jhi-vay-lai-dong-hop-dong>
        </p-tabPanel>
        <p-tabPanel header="Nợ">
            <jhi-vay-lai-no></jhi-vay-lai-no>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử"> 
            <jhi-vay-lai-lich-su-></jhi-vay-lai-lich-su>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử trả chậm"> 
            <jhi-vay-lai-lich-su-tra-cham></jhi-vay-lai-lich-su-tra-cham>
        </p-tabPanel>
    </p-tabView>
</div>
