<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-center">
            <thead>
              <th>In</th>
              <th>STT</th>
              <th>Ngày họ</th>
              <th>Tiền họ</th>
              <th>Ngày giao dịch</th>
              <th>Tiền khách trả</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td colspan="7">
                  Demo data
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>