<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <thead>
            <th colspan="2" class="bolder-table-first">Khách hàng nợ lãi</th>
          </thead>
          <tbody>
            <tr>
              <td>Số tiền nợ: </td>
              <td>
                <input type="number" pInputText placeholder="0">
              </td>
            </tr>
            <tr>
              <td colspan="2" class="bolder-table-last">
                <button class="btn btn-primary float-right">Ghi nợ</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered">
          <thead>
            <th colspan="2" class="bolder-table-first">Khách hàng trả nợ</th>
          </thead>
          <tbody>
            <tr>
              <td>Số tiền trả: </td>
              <td>
                <input type="number" pInputText placeholder="0">
              </td>
            </tr>
            <tr>
              <td colspan="2" class="bolder-table-last">
                <button class="btn btn-primary float-right">Trả nợ</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>