<div class="main-content">
    <div class="container-fluid">
        <!-- header -->
        <div class="row">
            <div class="col-md-12">
                <div class="modal-header">
                    <h2>Chi hoạt động</h2>
                    <div style="border-top:1px solid #cecece;height:5px;"></div>
                </div>
            </div>
        </div>
        <!-- content -->
        <jhi-alert></jhi-alert>
        <div class="row" style="padding-top: 2%">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well" style="  min-height: 20px; padding: 15px; margin-bottom: 20px; border-radius: 0; border: 1px solid #e3e3e3; box-shadow: none;  background-color: #f9f9f9; border-color: #d9d9d9;">
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-4 control-label">
                                        Người nộp tiền
                                        <span style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <!-- <input type="text" class="form-control" data-rule-required="true" data-msg-required="Không để trống trường này!"> -->

                                        <div class="ui-inputgroup">
                                            <span class="ui-inputgroup-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <select class="form-control" id="field_nhanVien" name="nhanVien" [(ngModel)]="thuchi.nhanVienId">
                                                <option [ngValue]="null"></option>
                                                <option [ngValue]="nhanVienOption.id" *ngFor="let nhanVienOption of nhanviens;">{{nhanVienOption.ten}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 control-label">
                                        Số tiền
                                        <span style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <!-- <input type="text" class="inputAmountUSD form-control has-success" data-rule-required="true" data-msg-required="Không để trống trường này!" -->
                                        <!-- size="10"> -->

                                        <div class="ui-inputgroup">
                                            <!-- <span class="ui-inputgroup-addon">$</span> -->
                                            <p-spinner [step]="500000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                                name="sotien" id="field_sotien" class="form-control" [(ngModel)]="thuchi.sotien"
                                                required>

                                        </div>

                                    </div>
                                </div>

                                <div class="row" style="padding-top: 5%">
                                    <label class="col-md-4 control-label">
                                        Lý do chi tiền
                                        <span style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" cols="6" class="auto form-control" name="noidung" id="field_noidung" [(ngModel)]="thuchi.noidung" required
                                            maxlength="3000"></textarea>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 5%">
                                    <div class=" col-md-12">
                                        <button class="btn btn-xs btn-info pull-right" (click)="save()">Chi tiền</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="widget ">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>
                                            <i class="fa fa-calendar" style="margin-right:2px;"></i>Lịch sử chi tiêu</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Từ Ngày</label>
                                        <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Đến Ngày</label>
                                        <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
                                    </div>

                                    <div class="col-md-1">
                                        <button class="btn btn-info" (click)="timkiem()">Tìm </button>
                                    </div>
                                </div>
                            </div>


                            <div class="widget-content">
                                <div>
                                    <table class="table table-striped table-checkable table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">
                                                    STT
                                                </th>
                                                <th class="align-center">
                                                    Ngày
                                                </th>
                                                <th class="align-center">
                                                    Nhân viên
                                                </th>


                                                <th class="align-right">
                                                    Số tiền
                                                </th>
                                                <th class="align-center">
                                                    Ghi chú
                                                </th>
                                                <th width="60px">
                                                    &nbsp;
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let thuChi of thuChis ;trackBy: trackId">
                                                <td>
                                                    <a [routerLink]="['../thu-chi', thuChi.id ]">{{thuChi.id}}</a>
                                                </td>
                                                <td>{{thuChi.noidung}}</td>
                                                <td>{{thuChi.thoigian | date:'medium'}}</td>
                                                <td>{{thuChi.sotien}}</td>

                                                <td>
                                                    <div *ngIf="thuChi.nhanVienId">
                                                        <a [routerLink]="['../nhan-vien', thuChi.nhanVienId  ]">{{thuChi.nhanVienId}}</a>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>