<div *ngIf="cuaHang">
    <h2>
        <span>Cửa hàng</span> {{cuaHang.ten}}</h2>
    <hr>

    <div class="row">
        <div class="col-md-6 offset-md-4">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td rowspan="3">
                            <span class="fa fa-bank fa-5x text-primary"></span>
                        </td>
                        <td>
                            <b>Tên cửa hàng</b>: {{cuaHang.ten}}
                        </td>
                        <td rowspan="3">&nbsp;</td>
                        <td rowspan="3">
                            <span class="fa fa-cogs fa-5x text-primary"></span>
                        </td>
                        <td>
                            <b>Trạng thái</b>:
                            <span>{{cuaHang.trangthai}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-user text-primary"></span>
                            <b>Quản lý hiện tại</b>: cuaHang.quanLy
                        </td>
                        <td rowspan="2">
                            <span class="fa fa-user text-primary"></span>
                            <b>Ngày tạo</b>: {{cuaHang.ngayTao | date:'dd/MM/yyyy'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fa fa-phone text-primary"></span>: {{cuaHang.dienthoai}}
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <span class="fa fa-map-marker fa-5x text-primary"></span>
                        </td>
                        <td>
                            <b>Địa chỉ</b>: {{cuaHang.diachi}}
                        </td>
                        <td rowspan="3">&nbsp;</td>
                        <td rowspan="2">
                            <span class="fa fa-pencil-square-o text-primary fa-4x"></span>
                            <br/>Ghi chú
                        </td>
                        <td rowspan="2">
                            <span>{{cuaHang.ghiChu}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{cuaHang.tenTinh}} - {{cuaHang.tenHuyen}} - {{cuaHang.tenXa}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span>Quay lại</span>
    </button>
    <button type="button" [routerLink]="['/', { outlets: { popup: 'cua-hang/'+ cuaHang.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span>Chỉnh sửa</span>
    </button>
    <p-tabView>
        <p-tabPanel header="Danh sách bát họ">
            <p-table [value]="batHos" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <span>ID</span>
                        </th>
                        <th>
                            <span>Tên khách hàng</span>
                        </th>
                        <th>
                            <span>Tiền đưa khách</span>
                        </th>
                        <th>
                            <span>Tổng tiền</span>
                        </th>
                        <th>
                            <span>Tổng số ngày</span>
                        </th>
                        <th>
                            <span>Chu kỳ</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-batHo>
                    <tr [pSelectableRow]="batHo" [routerLink]="['../../bat-ho-admin', batHo.id ]">
                        <td>{{batHo.id}}</td>
                        <td>{{batHo.hopdong.khachHangTen}}</td>
                        <td>{{batHo.tienduakhach}}</td>
                        <td>{{batHo.tongtien}}</td>
                        <td>{{batHo.tongsongay}}</td>
                        <td>{{batHo.chuky}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Danh sách vay lãi">
            <p-table [value]="vayLais" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <span>ID</span>
                        </th>
                        <th>
                            <span>Tên khách hàng</span>
                        </th>
                        <th>
                            <span>Số tiền vay</span>
                        </th>
                        <th>
                            <span>Thời gian vay</span>
                        </th>
                        <th>
                            <span>Chu kỳ lãi</span>
                        </th>
                        <th>
                            <span>Lãi</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vayLai>
                    <tr [pSelectableRow]="vayLai" [routerLink]="['../../vay-lai-admin', vayLai.id ]">
                        <td>{{vayLai.id}}</td>
                        <td>{{vayLai.hopdongvl.khachHangTen}}</td>
                        <td>{{vayLai.tienvay}}</td>
                        <td>{{vayLai.thoigianvay}}</td>
                        <td>{{vayLai.chukylai}}</td>
                        <td>{{vayLai.lai}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Danh sách khách hàng">
            <p-table [value]="khachHangs" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <span>ID</span>
                        </th>
                        <th>
                            <span>Họ tên</span>
                        </th>
                        <th>
                            <span>Địa chỉ</span>
                        </th>
                        <th>
                            <span>Số điện thoại</span>
                        </th>
                        <th>
                            <span>CMND</span>
                        </th>
                        <th>
                            <span>Trạng thái</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-khachHang>
                    <tr [pSelectableRow]="khachHang" [routerLink]="['../../khach-hang-admin', khachHang.id ]">
                        <td>{{khachHang.id}}</td>
                        <td>{{khachHang.ten}}</td>
                        <td>{{khachHang.diachi}}</td>
                        <td>{{khachHang.dienthoai}}</td>
                        <td>{{khachHang.cmnd}}</td>
                        <td>{{khachHang.trangthai}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Danh sách nhân viên">
            <p-table [value]="nhanViens" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <span>ID</span>
                        </th>
                        <th>
                            <span>Họ tên</span>
                        </th>
                        <th>
                            <span>Địa chỉ</span>
                        </th>
                        <th>
                            <span>Số điện thoại</span>
                        </th>
                        <th>
                            <span>CMND</span>
                        </th>
                        <th>
                            <span>Trạng thái</span>
                        </th>
                        <th>
                            <span>Tài khoản</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-nhanVien>
                    <tr [pSelectableRow]="nhanVien" [routerLink]="['../../nhan-vien-admin', nhanVien.id ]">
                        <td>{{nhanVien.id}}</td>
                        <td>{{nhanVien.ten}}</td>
                        <td>{{nhanVien.diachi}}</td>
                        <td>{{nhanVien.dienthoai}}</td>
                        <td>{{nhanVien.cmnd}}</td>
                        <td>{{nhanVien.trangthai}}</td>
                        <td>{{nhanVien.userId}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>