<div>
  
   <h2>
     <i class="fa fa-calendar" width="20%" aria-hidden="true"></i>
      <span>Báo cáo vay họ</span>


    </h2>
    <div class="widget-header">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <label class="col-md-4 control-label">
                        Nhân Viên
                        
                    </label>
                    <div class="col-md-8 form-group">
                        <!-- <input [(ngModel)]="thuchi.nhanVienId" type="text" class="form-control" name="nguoinoptien" id="field_nguoinoptien" required/> -->
                        <select class="form-control" id="field_nhanVien" name="nhanVien"  required >
                            <option  *ngFor="let nhanVienOption of nhanviens;">{{nhanVienOption.ten}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Từ Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
            </div>
            <div class="col-md-5">
                <label>Đến Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
                <button class="btn btn-info pull-right" (click)="timkiem()">
                    <i class="pi pi-search" aria-hidden="true"></i>Tìm kiếm</button>
            </div>
        </div>
    </div>
    
  <div class="table-responsive" >
    <p-table [value]="batHos" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <span jhiTranslate="global.field.id">#</span>
          </th>
          <th>
            <span>Ngày</sp an>
          </th>
          <th>
            <span jhiTranslate="servertdjhipApp.batHo.tienduakhach">Nhân viên</span>
          </th>
          <th>
            <span jhiTranslate="servertdjhipApp.batHo.tongtien">Khách hàng</span>
          </th>
          <th>
            <span jhiTranslate="servertdjhipApp.batHo.tongsongay">Cho vay</span>
          </th>
          <th>
            <span jhiTranslate="servertdjhipApp.batHo.chuky">Thu về</span>
          </th>
          <th>
            <span>Trạng thái</span>
          </th>
        </tr>
      </ng-template>
      <!-- Code backend lấy dữ liệu body -->
      <!-- <ng-template pTemplate="body" let-batHo>
          <tr [pSelectableRow]="batHo" [routerLink]="['../bat-ho', batHo.id ]">
              <td>{{batHo.id}}</td>
              <td>{{batHo.hopdong.khachHangTen}}</td>
              <td>{{batHo.tienduakhach |currency : 'VND' : true : '1.0-0'}}</td>
              <td>{{batHo.tongtien |currency : 'VND' : true : '1.0-0'}}</td>
              <td>{{batHo.tongsongay}}</td>
              <td>{{batHo.chuky}}</td>
              <td >{{batHo.hopdong.trangthaihopdong}}</td>
          </tr>
      </ng-template> -->
      <ng-template pTemplate="footer">
          <tr>
              <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                  <strong>Tổng </strong>
              </td>
              <td align="right" style="background-color:#ECECEC">
                  <span style="color:red">0</span>
              </td>
              <td align="right" style="background-color:#ECECEC">
                  <span style="color:red">0</span>
              </td>
              <td></td>
          </tr>

      </ng-template>
    </p-table>
  </div>
</div>