<form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-header">
                        <h4>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="modal-title" id="myBatHoLabel" jhiTranslate="servertdjhipApp.batHo.home.createOrEditLabel">
                                Create or edit a Bat Ho</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_mahopdong">
                                        <span class="fa fa-credit-card"></span>
                                        <span jhiTranslate="servertdjhipApp.hopDong.mahopdong">Mahopdong</span>
                                    </label>
                                    <input [(ngModel)]="batHo.hopdong.mahopdong" type="text" class="form-control" name="mahopdong" id="field_mahopdong" placeholder="BH-x"
                                        required maxlength="20" pTooltip="Nhập mã hợp đồng
                                        Có định dạng 'BH-x'" tooltipPosition="top" tooltipEvent="focus" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_tongtien">
                                        <span class="fa fa-money"></span>
                                        <span jhiTranslate="servertdjhipApp.batHo.tongtien">Tongtien</span>
                                    </label>
                                    <p-spinner [step]="1000000" thousandSeparator="." placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="batHo.tongtien" class="form-control" name="tongtien" id="field_tongtien"
                                        pTooltip="Nhập  số tiền khách hàng phải đóng (Đơn vị: VNĐ)" tooltipPosition="top" tooltipEvent="hover"
                                        required></p-spinner>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_tienduakhach">
                                        <span class="fa fa-money"></span>
                                        <span jhiTranslate="servertdjhipApp.batHo.tienduakhach">Tienduakhach</span>
                                    </label>
                                    <p-spinner thousandSeparator="." [step]="1000000" placeholder="0" [min]="0" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum"
                                        [(ngModel)]="batHo.tienduakhach" class="form-control" name="tienduakhach" id="field_tienduakhach"
                                        pTooltip="Nhập số tiền khách nhận
                                        (Tiền lãi - chưa tính bát họ gốc)
                                        (Đơn vị: VNĐ)" tooltipPosition="top" tooltipEvent="hover" required></p-spinner>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label" for="field_tongsongay">
                                        <span class="fa fa-calendar-check-o"></span>
                                        <span jhiTranslate="servertdjhipApp.batHo.tongsongay">Tongsongay</span>
                                    </label>
                                    <input [(ngModel)]="batHo.tongsongay" type="number" pKeyFilter="pnum" class="form-control" name="tongsongay" id="field_tongsongay"
                                        placeholder="0" [min]="0" pTooltip="Nhập tổng số ngày đóng tiền" tooltipPosition="top"
                                        tooltipEvent="focus" required/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label" for="field_chuky">
                                        <span class="fa fa-refresh"></span>
                                        <span jhiTranslate="servertdjhipApp.batHo.chuky">Chuky</span>
                                    </label>
                                    <input [(ngModel)]="batHo.chuky" type="number" pKeyFilter="pnum" class="form-control" name="chuky" id="field_chuky" placeholder="0"
                                        [min]="0" pTooltip="Nhập chu kỳ đóng tiền
                                        Ví dụ: 3 ngày đóng tiền 1 lần thì điền số 3" tooltipPosition="top" tooltipEvent="focus"
                                        required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" name="keyTimKhachHang" pInputText placeholder="Tìm kiếm khách hàng" pTooltip="Nhập tên khách hàng/CMND"
                                        tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="keyTimKhachHang">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary float-left" (click)="timKhachHang()">
                                        <span class="pi pi-search"></span>
                                        <span>Tìm kiếm</span>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success float-right " [routerLink]="['/', { outlets: { popup: ['khach-hang-new'] } }]">
                                        <span class="fa fa-plus"></span>
                                        <span jhiTranslate="servertdjhipApp.khachHang.home.createLabel">
                                            Create new Khach Hang
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                                        <p-table [value]="khachHangs" [paginator]="true" selectionMode="single" [rows]="5" [(selection)]="selected" dataKey="id"
                                            (onRowSelect)="onRowSelect($event)">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.ten">Ten</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.cmnd">CMND</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.diachi">Diachi</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.dienthoai">Dienthoai</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.trangthai">Trangthai</span>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-khachHang>
                                                <tr [pSelectableRow]="khachHang">
                                                    <td>{{khachHang.ten}}</td>
                                                    <td>{{khachHang.cmnd}}</td>
                                                    <td>{{khachHang.diachi}}</td>
                                                    <td>{{khachHang.dienthoai}}</td>
                                                    <td>{{khachHang.trangthai}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </p-scrollPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="field_ghichu">
                        <span class="fa fa-sticky-note-o"></span>
                        <span jhiTranslate="servertdjhipApp.hopDong.ghichu">Ghichu</span>
                    </label>
                    <textarea [rows]="5" class="form-control" name="ghiChu" id="field_ghiChu" [cols]="30" pTooltip="Điền thêm các thông tin khác"
                        tooltipPosition="top" tooltipEvent="focus" pInputTextarea autoResize="autoResize"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="keyTimKhachHang" pInputText placeholder="Kiểm tra khách hàng có trong hệ thống" pTooltip="Nhập CMND"
                                tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="keyKhachHangInSystem">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary float-left" (click)="kiemTraTrongHeThong()">
                                <span class="pi pi-search"></span>
                                <span>Tìm kiếm</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                                <p-table [value]="khachHangsInSystem" [paginator]="true" selectionMode="single" [rows]="5" [(selection)]="selected" dataKey="id"
                                    (onRowSelect)="onRowSelect($event)">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>
                                                <span jhiTranslate="servertdjhipApp.khachHang.ten">Ten</span>
                                            </th>
                                            <th>
                                                <span jhiTranslate="servertdjhipApp.khachHang.cmnd">CMND</span>
                                            </th>
                                            <th>
                                                <span jhiTranslate="servertdjhipApp.khachHang.diachi">Diachi</span>
                                            </th>
                                            <th>
                                                <span jhiTranslate="servertdjhipApp.khachHang.dienthoai">Dienthoai</span>
                                            </th>
                                            <th>
                                                <span jhiTranslate="servertdjhipApp.khachHang.trangthai">Trangthai</span>
                                            </th>
                                            <th>Cửa hàng</th>
                                            <th>Status</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-khachHang>
                                        <tr [pSelectableRow]="khachHang">
                                            <td>{{khachHang.ten}}</td>
                                            <td>{{khachHang.cmnd}}</td>
                                            <td>{{khachHang.diachi}}</td>
                                            <td>{{khachHang.dienthoai}}</td>
                                            <td>{{khachHang.trangthai}}</td>
                                            <td>{{khachHang.cuaHangId}}</td>
                                            <td>{{khachHang.status}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </p-scrollPanel>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="form-control-label">
                                <span class="fa fa-image"></span>
                                Tài sản / chứng từ</label>

                            <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000">
                            </p-fileUpload>
                        </div>
                        <div class="form-group col-md-12 center">
                            <p-galleria [images]="images" panelWidth="100%" panelHeight="400" [showCaption]="false"></p-galleria>

                        </div>
                    </div>
                </div> -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
                    <span class="fa fa-ban"></span>&nbsp;
                    <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-success" (click)="save()">
                    <span class="fa fa-save"></span>&nbsp;
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </div>
</form>