<div class="main-content">
  <div class="container-fluid">
    <div class="rơư">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <th colspan="2">Vay thêm tiền</th>
          </thead>
          <tbody>
            <tr>
              <td>Ngày vay thêm gốc:</td>
              <!-- <td><p-calendar [(ngModel)]="value"></p-calendar></td> -->
              <td>
                <p-calendar></p-calendar>
              </td>
            </tr>
            <tr>
              <td>Số tiền vay thêm:</td>
              <td>
                <input type="number" pInputText>
              </td>
            </tr>
            <tr>
              <td>Ghi chú:</td>
              <td>
                <span class="ui-float-label">
                  <textarea id="float-input" [rows]="1" [cols]="30" pInputTextarea></textarea>
                  <label for="float-input">Ghi chú</label>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center bolder-table-last">
                <button class="btn btn-primary">Đồng ý</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Danh sách tiền gốc</h3>
        <br />
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Ngày</th>
            <th>Nội dung</th>
            <th>Số tiền</th>
            <th></th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>