<div *ngIf="vayLai">
    <h2>
        <span>Vay lãi</span> {{vayLai.hopdongvl.mahopdong}}</h2>
    <hr>

    <div class="row">
        <div class="col-md-4 offset-md-1">
            <p-galleria [images]="images" panelWidth="100%" panelHeight="313" [showCaption]="false"></p-galleria>
        </div>
        <div class="col-md-6 offset-md-1">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td rowspan="4">
                            <span class="fa fa-paypal fa-5x text-primary"></span>
                        </td>
                        <td>
                            <b>Tiền vay</b>: {{vayLai.tienvay |currency : 'VND' : true : '1.0-0'}}
                        </td>
                        <td rowspan="4">
                            &nbsp;
                        </td>
                        <td rowspan="4">
                            <span class="fa fa-credit-card text-primary fa-5x"></span>
                        </td>
                        <td>
                            <b>Tổng lãi</b>: {{tonglai |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ngày vay</b>: {{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}
                        </td>
                        <td>
                            <b>Lãi</b>: {{vayLai.lai |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Số ngày vay</b>: {{vayLai.thoigianvay}}
                        </td>
                        <td>
                            <b>Cách tính lãi</b>:
                            <span jhiTranslate="{{'servertdjhipApp.TINHLAI.' + vayLai.cachtinhlai}}">{{vayLai.cachtinhlai}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-danger">
                            <b>Số nợ còn lại</b>: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
                        </td>
                        <td>
                            <b>Hình thức lãi</b>:
                            <span jhiTranslate="{{'servertdjhipApp.HINHTHUCLAI.' + vayLai.hinhthuclai}}">{{vayLai.hinhthuclai}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <span class="fa fa-address-card-o fa-4x text-primary"></span>
                        </td>
                        <td>
                            <b>Khách hàng</b>:
                            <a [routerLink]="['../../khach-hang-admin', vayLai.hopdongvl.khachHangId ]">{{vayLai.hopdongvl.khachHangTen}}</a>
                        </td>
                        <td rowspan="2">&nbsp;</td>
                        <td rowspan="2">
                            <span class="fa fa-refresh text-primary fa-5x"></span>
                        </td>
                        <td class="text-success">
                            <b>Đã đóng</b>: {{tiendadong |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>ID</b>:
                            <a [routerLink]="['../../khach-hang-admin', vayLai.hopdongvl.khachHangId ]">{{vayLai.hopdongvl.khachHangId}}</a>
                        </td>
                        <td class="text-warning">
                            <b>Còn lại</b>: {{tonglai - tiendadong |currency : 'VND' : true : '1.0-0'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span>Quay lại</span>
    </button>
    <p-tabView>
        <p-tabPanel header="Đóng lãi" disabled>
            <div class="row">
                <div class="col-md-12">
                    <p-table class="text-center" [value]="lichSuDongTiens" [paginator]="true" [rows]="10" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="2">Ngày</th>
                                <th>Số ngày</th>
                                <th>Tiền lãi</th>
                                <th>Tiền khác</th>
                                <th>Tổng lãi</th>
                                <th>Tiền khách trả</th>
                            </tr>
                        </ng-template>>
                        <ng-template pTemplate="body" let-lichSuDongTien>
                            <tr [pSelectableRow]="lichSuDongTien">
                                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>{{vayLai.chukylai}}</td>
                                <td>{{vayLai.lai}}</td>
                                <td>0</td>
                                <td>{{vayLai.lai}}</td>
                                <td>{{vayLai.lai}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>