<div *ngIf="vayLai">
    <h2>
        <span>Vay lãi</span> {{vayLai.hopdongvl.mahopdong}}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover text-left">
                <tr>
                    <th>Tên khách hàng</th>
                    <td>
                        <a>{{vayLai.hopdongvl.khachHangTen}}</a>
                    </td>
                    <td>
                        ID:
                        <a>{{vayLai.hopdongvl.khachHangId}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Tiền vay</th>
                    <td colspan="2">{{vayLai.tienvay}}</td>
                </tr>
                <tr>
                    <th>Ngày vay</th>
                    <td>{{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}</td>
                    <td>(ngModel = Ngày tạo + Số ngày)</td>
                </tr>
                <tr>
                    <th>Số ngày vay</th>
                    <td colspan="2">{{vayLai.thoigianvay}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Lãi</th>
                    <td>{{vayLai.lai}}</td>
                </tr>
                <tr>
                    <th>Hình thức lãi</th>
                    <td>
                        <span>{{vayLai.hinhthuclai}}</span>
                    </td>
                </tr>
                <tr>
                    <th>Cách tính lãi</th>
                    <td>
                        <span>{{vayLai.cachtinhlai}}</span>
                    </td>
                </tr>
                <tr>
                    <th>Đã đóng</th>
                    <td>(Dữ liệu demo)</td>
                </tr>
                <tr>
                    <th>Còn lại</th>
                    <td>(Dữ liệu demo)</td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span>Quay lại</span>
    </button>
    <p-tabView>
        <p-tabPanel header="Đóng lãi" disabled>
            <div class="row">
                <div class="col-md-12">
                    <p-table class="text-center" [value]="lichSuDongTiens" [paginator]="true" [rows]="8" [(selection)]="selected" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="2">Ngày</th>
                                <th>Số ngày</th>
                                <th>Tiền lãi</th>
                                <th>Tiền khác</th>
                                <th>Tổng lãi</th>
                                <th>Tiền khách trả</th>
                                <th>
                                    <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                                </th>
                            </tr>
                        </ng-template>>
                        <ng-template pTemplate="body" let-lichSuDongTien>
                            <tr [pSelectableRow]="lichSuDongTien">
                                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>{{vayLai.chukylai}}</td>
                                <td>{{vayLai.lai}}</td>
                                <td>0</td>
                                <td>{{vayLai.lai}}</td>
                                <td>{{vayLai.lai}}</td>
                                <td>
                                    <!-- <p-tableCheckbox [value]="lichSuDongTien"></p-tableCheckbox> -->
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>