<div *ngIf="vayLai">
    <h2>
        <span>Vay lãi</span> {{vayLai.hopdongvl.mahopdong}}</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-address-card-o fa-4x text-primary"></span>
                    </td>
                    <td>
                        <b>Khách hàng</b>:
                        <a [routerLink]="['../../khach-hang-admin', vayLai.hopdongvl.khachHangId ]">{{vayLai.hopdongvl.khachHangTen}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ID</b>:
                        <a [routerLink]="['../../khach-hang-admin', vayLai.hopdongvl.khachHangId ]">{{vayLai.hopdongvl.khachHangId}}</a>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-refresh text-primary fa-5x"></span>
                    </td>
                    <td class="text-success">
                        <b>Đã đóng</b>: {{tiendadong |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td class="text-warning">
                        <b>Còn lại</b>: {{tienchuadong|currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="4">
                        <span class="fa fa-paypal fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Tiền vay</b>: {{vayLai.tienvay |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Ngày vay</b>: {{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Số ngày vay</b>: {{vayLai.thoigianvay}}
                    </td>
                </tr>
                <tr>
                    <td class="text-danger">
                        <b>Số nợ còn lại</b>: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="4">
                        <span class="fa fa-credit-card text-primary fa-5x"></span>
                    </td>
                    <td>
                        <b>Tổng lãi: </b>: {{tienchuadong + tiendadong |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Lãi</b>: {{vayLai.lai |currency : 'VND' : true : '1.0-0'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Cách tính lãi</b>:
                        <span jhiTranslate="{{'servertdjhipApp.TINHLAI.' + vayLai.cachtinhlai}}">{{vayLai.cachtinhlai}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Hình thức lãi</b>:
                        <span jhiTranslate="{{'servertdjhipApp.HINHTHUCLAI.' + vayLai.hinhthuclai}}">{{vayLai.hinhthuclai}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span>Quay lại</span>
    </button>
    <p-tabView>
        <p-tabPanel header="Đóng lãi">
            <div class="row">
                <div class="col-md-6">
                    <p-table class="text-center" [value]="lichSuDongTiensChuaDong" [paginator]="true" [rows]="10" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="7" class="text-white bg-secondary text-center">Tiền lãi chưa đóng</th>
                            </tr>
                            <tr>
                                <th colspan="2">Ngày</th>
                                <th>Số ngày</th>
                                <th>Trạng thái</th>
                                <th>Tiền lãi</th>
                                <th>Ngày giao dịch</th>
                                <th>Tiền khách trả</th>
                            </tr>
                        </ng-template>>
                        <ng-template pTemplate="body" let-lichSuDongTien>
                            <tr [pSelectableRow]="lichSuDongTien">
                                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>{{vayLai.chukylai}}</td>
                                <td jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</td>
                                <td>{{vayLai.lai |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>{{vayLai.lai |currency : 'VND' : true : '1.0-0'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-md-6">
                    <p-table class="text-center" [value]="lichSuDongTiensDaDong" [paginator]="true" [rows]="10" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="7" class="text-white bg-success text-center">Tiền lãi đã đóng</th>
                            </tr>
                            <tr>
                                <th colspan="2">Ngày</th>
                                <th>Số ngày</th>
                                <th>Trạng thái</th>
                                <th>Tiền lãi</th>
                                <th>Ngày giao dịch</th>
                                <th>Tiền khách trả</th>
                            </tr>
                        </ng-template>>
                        <ng-template pTemplate="body" let-lichSuDongTien>
                            <tr [pSelectableRow]="lichSuDongTien">
                                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>{{vayLai.chukylai}}</td>
                                <td jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</td>
                                <td>{{vayLai.lai |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                                <td>{{vayLai.lai |currency : 'VND' : true : '1.0-0'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Nợ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3>Lịch sử nợ</h3>
                    <hr/>
                    <br />
                    <p-table [value]="ghiNos" [paginator]="true" [rows]="10" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Ngày</th>
                                <th>Nhân viên</th>
                                <th>Số tiền</th>
                                <th>Nội dung</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ghiNo>
                            <tr>
                                <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                                <td>{{ghiNo.nhanVienTen}}</td>
                                <td>{{ghiNo.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                                <td jhiTranslate="{{'servertdjhipApp.vayLai.detail.' + ghiNo.trangthai}}">{{ghiNo.trangthai}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h3>Lịch sử thao tác</h3>
                    <br />
                    <p-table [value]="lichSuThaoTacHopDongs" [paginator]="true" [rows]="5" dataKey="id">
                        <ng-template pTemplate="header">
                            <th>Ngày</th>
                            <th>Nhân viên</th>
                            <th>Số tiên ghi nợ</th>
                            <th>Số tiền trả nợ</th>
                            <th>Nội dung</th>
                        </ng-template>
                        <ng-template pTemplate="body" let-lichSuThaoTacHopDong>
                            <tr [pSelectableRow]="lichSuThaoTacHopDong">
                                <td>{{lichSuThaoTacHopDong.thoigian | date: "dd/MM/yyyy lúc hh:mm:ss"}}</td>
                                <td>{{lichSuThaoTacHopDong.nhanVienTen}}</td>
                                <td>{{lichSuThaoTacHopDong.soTienGhiNo |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuThaoTacHopDong.soTienGhiCo |currency : 'VND' : true : '1.0-0'}}</td>
                                <td>{{lichSuThaoTacHopDong.noidung}}</td>
                            </tr>
                        </ng-template>
                        </table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Chứng từ">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Danh sách chứng từ tài sản</h4>
                            <hr/>
                            <p-table [value]="taiSans" [paginator]="true" [rows]="10" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Số hiệu</th>
                                        <th>Mô tả</th>
                                        <th>Nơi cất</th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-taiSan>
                                    <tr>
                                        <td>{{taiSan.sohieu}}</td>
                                        <td>{{taiSan.mota}}</td>
                                        <td>{{taiSan.noicat}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>