<div *ngIf="khachHang">
    <h2>
        <span jhiTranslate="servertdjhipApp.khachHang.detail.title">Khach Hang</span> {{khachHang.ten}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="4">
                        <span class="fa fa-address-card-o fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Tên khách hàng</b>: {{khachHang.ten}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ID</b>: {{khachHang.id}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Số chứng minh thư</b>: {{khachHang.cmnd}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-phone text-primary"></span>: {{khachHang.dienthoai}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="3">
                        <span class="fa fa-share-alt fa-5x text-primary"></span>
                    </td>
                    <td>
                        <span class="fa fa-envelope-o text-primary"></span>: {{khachHang.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-facebook-square text-primary"></span>: {{khachHang.facebook}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Trạng thái</b>:
                        <span jhiTranslate="{{'servertdjhipApp.TrangThaiKhachHang.' + khachHang.trangthai}}">{{khachHang.trangthai}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-map-marker fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Địa chỉ</b>: {{khachHang.diachi}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{khachHang.tenTinh}} - {{khachHang.tenHuyen}} - {{khachHang.tenXa}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-pencil-square-o text-primary fa-4x"></span>
                        <br/>Ghi chú
                    </td>
                    <td rowspan="2">
                        <span>{{khachHang.ghiChu}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" [routerLink]="['/', { outlets: { popup: 'khach-hang/'+ khachHang.id + '/edit'} }]" replaceUrl="true"
        queryParamsHandling="merge" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
    <p-tabView>
        <p-tabPanel header="Chứng từ">
            <div class="row">
                <div class="col-md-4">
                    <p-galleria [images]="images" panelWidth="100%" panelHeight="313" [showCaption]="false"></p-galleria>
                </div>
                <div class="col-md-7 offset-md-1">
                    <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>