<div>
    <div class="row modal-header">
        <div class="col-md-9">
            <h2>
                <i class="fa fa-vcard-o" width="20%" aria-hidden="true"></i>
                <span jhiTranslate="servertdjhipApp.khachHang.home.title">Khach Hangs</span>
            </h2>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success pull-left jh-create-entity create-khach-hang" [routerLink]="['/', { outlets: { popup: ['khach-hang-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="servertdjhipApp.khachHang.home.createLabel">
                    Create new Khach Hang
                </span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <h3>
        <i class="pi pi-search" width="20%" aria-hidden="true"></i>
        Tìm khách hàng
    </h3>
    <div class="ui-g-2">
        <pe-step label="Float label">
            <span class="ui-float-label">
                <input id="float-input" name="keyTimKhachHang" [(ngModel)]="keyTimKhachHang" pInputText type="text" size="30" pTooltip="Tên khách hàng / CMND / SĐT"
                    tooltipPosition="top" tooltipEvent="focus">
                <label for="float-input">Thông tin tìm kiếm</label>
            </span>
        </pe-step>
    </div>
    <div class="ui-g-2">
        <button class="btn btn-primary float-left" (click)="timKhachHang()">
            <span class="pi pi-search"></span>
            Tìm kiếm</button>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="khachHangs">
        <p-table [value]="khachHangs" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">ID</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.khachHang.ten">Ten</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.khachHang.diachi">Diachi</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.khachHang.dienthoai">Dienthoai</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.khachHang.cmnd">Cmnd</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.khachHang.trangthai">Trangthai</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-khachHang>
                <tr [pSelectableRow]="khachHang" [routerLink]="['../khach-hang', khachHang.id ]">
                    <td>{{khachHang.id}}</td>
                    <td>{{khachHang.ten}}</td>
                    <td>{{khachHang.diachi}}</td>
                    <td>{{khachHang.dienthoai}}</td>
                    <td>{{khachHang.cmnd}}</td>
                    <td jhiTranslate="{{'servertdjhipApp.TrangThaiKhachHang.' + khachHang.trangthai}}">{{khachHang.trangthai}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>