<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myKhachHangLabel" jhiTranslate="servertdjhipApp.khachHang.home.createOrEditLabel">Create or edit a Khach Hang</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!khachHang.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="khachHang.id" readonly />
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.ten" for="field_ten">Ten</label>
                <input type="text" placeholder="Tên khách hàng" class="form-control" name="ten" id="field_ten" [(ngModel)]="khachHang.ten"
                    pTooltip="Nhập họ tên đầy đủ của khách hàng" required/>
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.diachi" for="field_diachi">Diachi</label>
                <input type="text" class="form-control" name="diachi" id="field_diachi" [(ngModel)]="khachHang.diachi" pTooltip="Nhập địa chỉ của khách hàng"
                    tooltipPosition="top" tooltipEvent="Focus" maxlength="200" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.dienthoai" for="field_dienthoai">Dienthoai</label>
                <input type="text" class="form-control" name="dienthoai" id="field_dienthoai" [(ngModel)]="khachHang.dienthoai" pTooltip="Nhập số điện thoại của khách hàng"
                    tooltipPosition="top" tooltipEvent="Focus" required/>
            </div>
            <div class="form-group col-md-3">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.cmnd" for="field_cmnd">Cmnd</label>
                <input type="text" placeholder="Chứng minh thư nhân dân" class="form-control" name="cmnd" id="field_cmnd" [(ngModel)]="khachHang.cmnd"
                    pTooltip="Nhập số chứng minh thư của khách hàng" tooltipPosition="top" tooltipEvent="Focus" maxlength="12"
                />
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.email" for="field_email">Email</label>
                <input type="text" class="form-control" name="email" id="field_email" [(ngModel)]="khachHang.email" pTooltip="Nhập email của khách hàng"
                    tooltipPosition="top" tooltipEvent="Focus" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.trangthai" for="field_trangthai">Trangthai</label>
                        <select class="form-control" name="trangthai" [(ngModel)]="khachHang.trangthai" id="field_trangthai">
                            <option value="HOATDONG">{{'servertdjhipApp.TrangThaiKhachHang.HOATDONG' | translate}}</option>
                            <option value="DUNGHOATDONG">{{'servertdjhipApp.TrangThaiKhachHang.DUNGHOATDONG' | translate}}</option>
                            <option value="CAPDO1">{{'servertdjhipApp.TrangThaiKhachHang.CAPDO1' | translate}}</option>
                            <option value="CAPDO2">{{'servertdjhipApp.TrangThaiKhachHang.CAPDO2' | translate}}</option>
                            <option value="CAPDO3">{{'servertdjhipApp.TrangThaiKhachHang.CAPDO3' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.tinh" for="field_tinh">Tinh</label>
                        <select class="form-control" id="field_tinh" name="tinh">
                            <option [ngValue]="null"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.huyen" for="field_huyen">Huyen</label>
                        <select class="form-control" id="field_huyen" name="huyen">
                            <option [ngValue]="null"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.xa" for="field_xa">Xa</label>
                        <select class="form-control" id="field_xa" name="xa" [(ngModel)]="khachHang.xaId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="xaOption.id" *ngFor="let xaOption of xas; trackBy: trackXaById">{{xaOption.id}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.ghiChu" for="field_ghiChu">Ghi Chu</label>
                <textarea [rows]="5" class="form-control" name="ghiChu" id="field_ghiChu" [cols]="30" [(ngModel)]="khachHang.ghiChu" pTooltip="Điền thêm các thông tin khác"
                    tooltipPosition="top" tooltipEvent="focus" pInputTextarea autoResize="autoResize"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.facebook" for="field_facebook">Facebook</label>
                <input type="text" class="form-control" name="facebook" id="field_facebook" [(ngModel)]="khachHang.facebook" pTooltip="Đường link facebook của khách hàng
                        (Có dạng facebook.com/abcxyz)" tooltipPosition="top" tooltipEvent="Focus" />
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.ngayTao" for="field_ngayTao">Ngay Tao</label>
                <div class="d-flex">
                    <p-calendar id="field_ngayTao" [(ngModel)]="khachHang.ngayTao" dateFormat="dd.mm.yy" name="ngayTao" disabled></p-calendar>
                </div>
            </div>
        </div>
        <!-- <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.cuaHang" for="field_cuaHang">Cua Hang</label>
            <select class="form-control" id="field_cuaHang" name="cuaHang" [(ngModel)]="khachHang.cuaHangId">
                <option [ngValue]="null"></option>
                <option [ngValue]="cuaHangOption.id" *ngFor="let cuaHangOption of cuahangs; trackBy: trackCuaHangById">{{cuaHangOption.id}}-{{cuaHangOption.ten}}</option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>