<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myKhachHangLabel">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="servertdjhipApp.khachHang.home.createOrEditLabel">Create or edit a Khach Hang</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <!-- <jhi-alert-error></jhi-alert-error> -->
        <div class="row">
            <div class="form-group col-md-4" [hidden]="!khachHang.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="khachHang.id" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_ten">
                    <span class="fa fa-user"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.ten">Ten</span>
                </label>
                <input type="text" placeholder="Tên khách hàng" class="form-control" name="ten" id="field_ten" [(ngModel)]="khachHang.ten"
                    pTooltip="Nhập họ tên đầy đủ của khách hàng" tooltipPosition="top" tooltipEvent="hover" required/>
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_diachi">
                    <span class="fa fa-home"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.diachi">Diachi</span>
                </label>
                <input type="text" class="form-control" name="diachi" id="field_diachi" [(ngModel)]="khachHang.diachi" pTooltip="Nhập địa chỉ của khách hàng"
                    tooltipPosition="top" tooltipEvent="Focus" maxlength="200" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="form-control-label" for="field_dienthoai">
                    <span class="fa fa-phone"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.dienthoai">Dienthoai</span>
                </label>
                <input type="text" class="form-control" name="dienthoai" id="field_dienthoai" [(ngModel)]="khachHang.dienthoai" pTooltip="Nhập số điện thoại của khách hàng"
                    tooltipPosition="top" tooltipEvent="Focus" required/>
            </div>
            <div class="form-group col-md-3">
                <label class="form-control-label" for="field_cmnd">
                    <span class="fa fa-address-card-o"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.cmnd">Cmnd</span>
                </label>
                <input type="text" placeholder="Chứng minh thư" class="form-control" name="cmnd" id="field_cmnd" [(ngModel)]="khachHang.cmnd"
                    pTooltip="Nhập số chứng minh thư của khách hàng" tooltipPosition="top" tooltipEvent="Focus" maxlength="12"
                />
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_email">
                    <span class="fa fa-envelope-o"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.email">Email</span>
                </label>
                <input type="text" class="form-control" name="email" id="field_email" [(ngModel)]="khachHang.email" pTooltip="Nhập email của khách hàng"
                    tooltipPosition="top" tooltipEvent="Focus" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="form-control-label" for="field_trangthai">
                            <span class="fa fa-folder-open-o"></span>
                            <span jhiTranslate="servertdjhipApp.khachHang.trangthai">Trangthai</span>
                        </label>
                        <select class="form-control" name="trangthai" [(ngModel)]="khachHang.trangthai" id="field_trangthai">
                            <option value="HOATDONG" selected='selected'>{{'servertdjhipApp.TrangThaiKhachHang.HOATDONG' | translate}}</option>
                            <option value="DUNGHOATDONG">{{'servertdjhipApp.TrangThaiKhachHang.DUNGHOATDONG' | translate}}</option>
                            <option value="CAPDO1">{{'servertdjhipApp.TrangThaiKhachHang.CAPDO1' | translate}}</option>
                            <option value="CAPDO2">{{'servertdjhipApp.TrangThaiKhachHang.CAPDO2' | translate}}</option>
                            <option value="CAPDO3">{{'servertdjhipApp.TrangThaiKhachHang.CAPDO3' | translate}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_tinh">
                            <span class="fa fa-map-o"></span>
                            <span jhiTranslate="servertdjhipApp.khachHang.tinh">Tinh</span>
                        </label>
                        <!-- <select class="form-control" id="field_tinh" name="tinh">
                            <option [ngValue]="null"></option>
                        </select> -->
                        <p-autoComplete [(ngModel)]="tinh" name="basic" [suggestions]="filteredTinhs" (completeMethod)="filterTinhs($event)" field="ten"
                            [size]="30" [inputStyle]="{'width':'100%'}" placeholder="Tỉnh" [minLength]="1"></p-autoComplete>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_huyen">
                            <span class="fa fa-map-o"></span>
                            <span jhiTranslate="servertdjhipApp.khachHang.huyen">Huyen</span>
                        </label>
                        <!-- <select class="form-control" id="field_huyen" name="huyen">
                            <option [ngValue]="null"></option>
                        </select> -->
                        <p-autoComplete [(ngModel)]="huyen" name="basic" [suggestions]="filteredHuyens" (completeMethod)="filterHuyens($event)" field="ten"
                            [size]="30" [inputStyle]="{'width':'80%'}" placeholder="Huyện" [minLength]="1" [dropdown]="true"></p-autoComplete>

                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_xa">
                            <span class="fa fa-map-o"></span>
                            <span jhiTranslate="servertdjhipApp.khachHang.xa">Xa</span>
                        </label>
                        <!-- <select class="form-control" id="field_xa" name="xa" [(ngModel)]="khachHang.xaId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="xaOption.id" *ngFor="let xaOption of xas; trackBy: trackXaById">{{xaOption.id}}</option>
                        </select> -->
                        <p-autoComplete [(ngModel)]="xa" name="basic" [suggestions]="filteredXas" (completeMethod)="filterXas($event)" field="ten"
                            [size]="30" [inputStyle]="{'width':'80%'}" placeholder="Xã" [minLength]="1" [dropdown]="true"></p-autoComplete>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_ghiChu">
                    <span class="fa fa-sticky-note-o"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.ghiChu">Ghi Chu</span>
                </label>
                <textarea [rows]="5" class="form-control" name="ghiChu" id="field_ghiChu" [cols]="30" [(ngModel)]="khachHang.ghiChu" pTooltip="Điền thêm các thông tin khác"
                    tooltipPosition="top" tooltipEvent="focus" pInputTextarea autoResize="autoResize"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_facebook">
                    <span class="fa fa-facebook-square" style="color:#4267b2"></span>
                    <span jhiTranslate="servertdjhipApp.khachHang.facebook">Facebook</span>
                </label>
                <input type="text" class="form-control" name="facebook" id="field_facebook" [(ngModel)]="khachHang.facebook" pTooltip="Đường link facebook của khách hàng
                        (Có dạng facebook.com/abcxyz)" tooltipPosition="top" tooltipEvent="Focus" />
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-12 center">
                <p-galleria [images]="images" panelWidth="600" panelHeight="400" [showCaption]="false"></p-galleria>

            </div>
            <div class="form-group col-md-12">
                <label class="form-control-label">
                    <span class="fa fa-image"></span>
                    Ảnh </label>
                <p-fileUpload (onBeforeSend)="onBeforeSend($event)" multiple="multiple" (onUpload)="onUpload($event)" class="col-md-6" name="myfile"
                    url="{{urlupload}}" accept="image/*" maxFileSize="10000000">
                </p-fileUpload>
            </div>
        </div>

        <!-- <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <label class="form-control-label" jhiTranslate="servertdjhipApp.khachHang.cuaHang" for="field_cuaHang">Cua Hang</label>
            <select class="form-control" id="field_cuaHang" name="cuaHang" [(ngModel)]="khachHang.cuaHangId">
                <option [ngValue]="null"></option>
                <option [ngValue]="cuaHangOption.id" *ngFor="let cuaHangOption of cuahangs; trackBy: trackCuaHangById">{{cuaHangOption.id}}-{{cuaHangOption.ten}}</option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>