<div>
    <div class="row modal-header">
        <div class="col-md-12">
            <h2>
                <i class="fa fa-vcard-o" width="20%" aria-hidden="true"></i>
                <span>Khách hàng</span>
            </h2>
        </div>
    </div>
    <br/>
    <div>
        <div>
            <h3>
                <i class="pi pi-search" width="20%" aria-hidden="true"></i>
                Tìm khách hàng
            </h3>
            <div class="ui-g-2">
                <span class="ui-float-label">
                    <input id="float-input" name="keyTimKhachHang" [(ngModel)]="keyTimKhachHang" pInputText type="text" size="30" pTooltip="Tên khách hàng / CMND / SĐT"
                        tooltipPosition="top" tooltipEvent="focus">
                    <label for="float-input">Thông tin tìm kiếm</label>
                </span>
            </div>
            <div class="ui-g-2">
                <button class="btn btn-primary float-left" (click)="timKhachHang()">
                    <span class="pi pi-search"></span>
                    Tìm kiếm</button>
            </div>
            <br/>
            <div class="table-responsive" *ngIf="khachHangs">
                <p-table [value]="khachHangs" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <span>ID</span>
                            </th>
                            <th>
                                <span>Họ tên</span>
                            </th>
                            <th>
                                <span>Địa chỉ</span>
                            </th>
                            <th>
                                <span>Số điện thoại</span>
                            </th>
                            <th>
                                <span>CMND</span>
                            </th>
                            <th>
                                <span>Trạng thái</span>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-khachHang>
                        <tr [pSelectableRow]="khachHang" [routerLink]="['../khach-hang-admin', khachHang.id ]">
                            <td>{{khachHang.id}}</td>
                            <td>{{khachHang.ten}}</td>
                            <td>{{khachHang.diachi}}</td>
                            <td>{{khachHang.dienthoai}}</td>
                            <td>{{khachHang.cmnd}}</td>
                            <td jhiTranslate="{{'servertdjhipApp.TrangThaiKhachHang.' + khachHang.trangthai}}">{{khachHang.trangthai}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>