<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-borderles">
          <tbody>
            <tr>
              <td>
                Chú ý:
              </td>
              <td rowspan="3">
                <button class="btn btn-primary float-right">Đóng hợp đồng</button>
              </td>
            </tr>
            <tr>
              <td>Số kỳ còn phải đóng: (DATA)</td>
            </tr>
            <tr>
              <td>Nợ cũ: (DATA)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>