<div  class="main-content">
  <div class="container-fluid">
      <div  class="form-vertical">
          <div  class="form-group">
              <h3>Tổng quát các cửa hàng</h3>


          </div>
          <div  class="form-group">
              <div  class="widget-content">
                  <table class="table  table-bordered ">
                      <thead>
                          <tr>
                              <th class="align-left" rowspan="2">Tên cửa hàng</th>
                              <th class="align-right" rowspan="2">Qũy tiền mặt</th>
                              <th class="align-right" rowspan="2">Vốn đầu tư</th>
                              <th style="text-align: center; vertical-align: middle;" colspan="3">Tiền cho vay</th>
                              <th class="align-right" rowspan="2">Lãi dự kiến</th>
                              <th class="align-right" rowspan="2">Lãi đã thu</th>
                          </tr>
                  
                          <tr>
                              <th style="text-align: right">Cầm Đồ </th>
                              <th style="text-align: right">Vay Lãi </th>
                              <th style="text-align: right">Bát Họ </th>
                          </tr>
                  
                      </thead>
                      <tbody>
                  
                              <tr>
                                  <td class="align-left">abc12 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">123 </td>
                                  <td class="align-right">1 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">0 </td>
                              </tr>
                              <!--FOOTER-->
                              <tr class="tr_footer">
                                  <td class="align-right" style="color:red">Tổng </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">123 </td>
                                  <td class="align-right">1 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">0 </td>
                                  <td class="align-right">0 </td>
                              </tr>
                      </tbody>
                  </table>

              </div>

          </div>

      </div>

  </div>

</div>
