<div class="main-content">
  <div class="container-fluid">
    <p-tabView>
      <p-tabPanel header="Thống kê thu họ theo ngày">
        <div>
          <div class="modal-header">
            <h2>
              <i class="fa fa-calendar" width="20%" aria-hidden="true"></i>
              <span>Thống kê thu họ theo ngày</span>
            </h2>
          </div>
          <div class="widget-header" style="padding-top:15px">
            <div class="row">
              <div class="col-md-3">
                <div class="row">
                  <label class="col-md-4 control-label">
                    Cửa hàng
                  </label>
                  <div class="col-md-8 form-group">
                    <!-- <input [(ngModel)]="nhanVien.id" type="text" class="form-control" name="nhanvien" id="field_nhanvien" required/> -->
                    <select class="form-control" name="nhanVien" [(ngModel)]="selectedCuaHang">
                      <option *ngFor="let cuaHang of cuaHangs" [ngValue]="cuaHang">{{cuaHang.ten}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label>Từ Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
              </div>
              <div class="col-md-5">
                <label>Đến Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
                <button class="btn btn-info pull-right" (click)="timKiemBH()">
                  <i class="pi pi-search" aria-hidden="true"></i>Tìm kiếm</button>
              </div>
            </div>
          </div>
          <div>
            <table class="table table-striped table-hover table-bordered table-calendar" style="margin-top:30px;">
              <thead>
                <tr style="background:#3f86c3;">
                  <th colspan="6" style="text-align:left; padding-left:10px;font-size:16px;color:#FFF;text-align:center">Bảng
                    Tổng Kết Bát Họ </th>
                </tr>
                <tr>
                  <th class="align-center">Đóng tiền</th>
                  <th class="align-center">Nợ</th>
                  <th class="align-center">Thêm mới</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-right text-danger">
                  <td>
                    <span>{{tongTienBH |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td>
                    <span>{{tongTienTraBh-tongTienNoBh |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td>
                    <span>{{tongTienBHs |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-right text-danger" colspan="6">
                    <span>Tổng tiền = {{tongTienBH + tongTienTraBh - tongTienNoBh - tongTienBHs |currency : 'VND' : true
                      : '1.0-0'}}</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="table-responsive">
            <p-table [value]="lichSuDongTienBHs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo lịch sử đóng tiền bát họ</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-lichSuDongTien>
                <tr (click)="findBatHoByHopDong(lichSuDongTien.hopDongId)">
                  <td>{{lichSuDongTien.mahopdong}}</td>
                  <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>
                  <td>{{lichSuDongTien.nhanVienTen}}</td>
                  <td>{{lichSuDongTien.khachHangTen}}</td>
                  <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                  <td>
                    <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="text-right text-danger">
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng</strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienBH |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <!-- Ghi nợ bát họ-->
          <div class="table-responsive" style="padding-top: 50px">
            <p-table [value]="ghiNoBHs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo ghi nợ bát họ</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-ghiNo>
                <tr (click)="findBatHoByHopDong(ghiNo.hopDongId)">
                  <td>{{ghiNo.id}}</td>
                  <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                  <td>{{ghiNo.nhanVienTen}}</td>
                  <td>{{ghiNo.khachHangTen}}</td>
                  <td>{{ghiNo.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                  <td jhiTranslate="{{'servertdjhipApp.batHo.detail.' + ghiNo.trangthai}}">{{ghiNo.trangthai}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer" class="text-right text-danger">
                <tr>
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng nợ </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienNoBh |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng trả </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienTraBh |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng tiền </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienTraBh-tongTienNoBh |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <!-- báo cáo bát họ thêm mới -->
          <div class="table-responsive" style="padding-top: 50px">
            <p-table [value]="batHos" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo hợp đồng bát họ thêm mới</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-batHo>
                <tr (click)="findBatHoByHopDong(batHo.hopdong.id)">
                  <td>{{batHo.hopdong.mahopdong}}</td>
                  <td>{{batHo.hopdong.ngaytao | date:"dd/MM/yyyy"}}</td>
                  <td>{{batHo.nhanVienTen}}</td>
                  <td>{{batHo.khachHangTen}}</td>
                  <td>{{batHo.tienduakhach |currency : 'VND' : true : '1.0-0'}}</td>
                  <td>
                    <span jhiTranslate="{{'servertdjhipApp.batHo.' + batHo.hopdong.trangthaihopdong}}">{{batHo.hopdong.trangthaihopdong}}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="text-right text-danger">
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng tiền </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienBHs |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Thống kê vay lãi theo ngày">
        <div>
          <div class="modal-header">
            <h2>
              <i class="fa fa-calendar" width="20%" aria-hidden="true"></i>
              <span>Thống kê vay lãi theo ngày</span>
            </h2>
          </div>
          <div class="widget-header" style="padding-top:15px">
            <div class="row">
              <div class="col-md-3">
                <div class="row">
                  <label class="col-md-4 control-label">
                    Cửa hàng
                  </label>
                  <div class="col-md-8 form-group">
                    <!-- <input [(ngModel)]="nhanVien.id" type="text" class="form-control" name="nhanvien" id="field_nhanvien" required/> -->
                    <select class="form-control" name="nhanVien" [(ngModel)]="selectedCuaHangVL">
                      <option *ngFor="let cuaHang of cuaHangs" [ngValue]="cuaHang">{{cuaHang.ten}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label>Từ Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
              </div>
              <div class="col-md-5">
                <label>Đến Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
                <button class="btn btn-info pull-right" (click)="timKiemVL()">
                  <i class="pi pi-search" aria-hidden="true"></i>Tìm kiếm</button>
              </div>
            </div>
          </div>
          <div>
            <table class="table table-striped table-hover table-bordered table-calendar" style="margin-top:30px;">
              <thead>
                <tr style="background:#3f86c3;">
                  <th colspan="6" style="text-align:left; padding-left:10px;font-size:16px;color:#FFF;text-align:center">Bảng
                    Tổng Kết Vay Lãi </th>
                </tr>
                <tr>
                  <th class="align-center">Đóng lãi</th>
                  <th class="align-center">Nợ</th>
                  <th class="align-center">Vay thêm / Trả bớt</th>
                  <th class="align-center">Trả gốc</th>
                  <th class="align-center">Thêm mới</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-right text-danger">
                  <td>
                    <span>{{tongTienVL |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td>
                    <span>{{tongTienTraVl-tongTienNoVl |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td>
                    <span>{{tongTienVLThemBot |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td>
                    <span>{{tongTienTraGoc |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td>
                    <span>{{tongTienVLs |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-right text-danger" colspan="6">
                    <span>Tổng tiền = {{tongTienVL + tongTienTraGoc + tongTienTraVl - tongTienNoVl - tongTienVLs-tongTienVLThemBot
                      |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="table-responsive">
            <p-table [value]="lichSuDongTienVLs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo lịch sử đóng lãi vay lãi</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-lichSuDongTien>
                <tr (click)="findVayLaiByHopDong(lichSuDongTien.hopDongId)">
                  <td>{{lichSuDongTien.mahopdong}}</td>
                  <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>
                  <td>{{lichSuDongTien.nhanVienTen}}</td>
                  <td>{{lichSuDongTien.khachHangTen}}</td>
                  <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                  <td>
                    <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="text-right text-danger">
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng tiền </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienVL |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="table-responsive" style="padding-top: 50px">
            <p-table [value]="ghiNoVLs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo ghi nợ vay lãi</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-ghiNo>
                <tr (click)="findVayLaiByHopDong(ghiNo.hopDongId)">
                  <td>{{ghiNo.id}}</td>
                  <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                  <td>{{ghiNo.nhanVienTen}}</td>
                  <td>{{ghiNo.khachHangTen}}</td>
                  <td>{{ghiNo.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                  <td jhiTranslate="{{'servertdjhipApp.batHo.detail.' + ghiNo.trangthai}}">{{ghiNo.trangthai}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer" class="text-right text-danger">
                <tr>
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng nợ </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienNoVl |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng trả </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienTraVl |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td style="ackground-cbolor:#ECECEC" colspan="4">
                    <strong>Tổng tiền </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienTraVl-tongTienNoVl |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="table-responsive" style="padding-top: 50px">
            <p-table [value]="vayLaiThemBot" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo hợp đồng vay lãi vay thêm/trả bớt</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-vayLai>
                <tr (click)="findVayLaiByHopDong(vayLai.hopdongvl.id)">
                  <td>{{vayLai.hopdongvl.mahopdong}}</td>
                  <td>{{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}</td>
                  <td>{{vayLai.nhanVienTen}}</td>
                  <td>{{vayLai.khachHangTen}}</td>
                  <td>{{vayLai.tienvay |currency : 'VND' : true : '1.0-0'}}</td>
                  <td jhiTranslate="{{'servertdjhipApp.vayLai.' + vayLai.hopdongvl.trangthaihopdong}}">{{vayLai.hopdongvl.trangthaihopdong}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="text-right text-danger">
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng tiền </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienVLThemBot |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="table-responsive">
            <p-table [value]="lichSuDongTienTraGoc" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo lịch sử trả gốc</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-lichSuDongTien>
                <tr (click)="findVayLaiByHopDong(lichSuDongTien.hopDongId)">
                  <td>{{lichSuDongTien.mahopdong}}</td>
                  <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>
                  <td>{{lichSuDongTien.nhanVienTen}}</td>
                  <td>{{lichSuDongTien.khachHangTen}}</td>
                  <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                  <td>
                    <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="text-right text-danger">
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng</strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienTraGoc |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="table-responsive" style="padding-top: 50px">
            <p-table [value]="vayLais" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th colspan="6" class="bg-primary text-white text-center">Báo cáo hợp đồng vay lãi thêm mới</th>
                </tr>
                <tr>
                  <th>
                    <span jhiTranslate="global.field.id">#</span>
                  </th>
                  <th>
                    <span>Ngày</span>
                  </th>
                  <th>
                    <span>Nhân viên</span>
                  </th>
                  <th>
                    <span>Khách hàng</span>
                  </th>
                  <th>
                    <span>Số tiền</span>
                  </th>
                  <th>
                    <span>Trạng thái</span>
                  </th>
                </tr>
              </ng-template>
              <!-- Code backend lấy dữ liệu body -->
              <ng-template pTemplate="body" let-vayLai>
                <tr (click)="findVayLaiByHopDong(vayLai.hopdongvl.id)">
                  <td>{{vayLai.hopdongvl.mahopdong}}</td>
                  <td>{{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}</td>
                  <td>{{vayLai.nhanVienTen}}</td>
                  <td>{{vayLai.khachHangTen}}</td>
                  <td>{{vayLai.tienvay |currency : 'VND' : true : '1.0-0'}}</td>
                  <td jhiTranslate="{{'servertdjhipApp.vayLai.' + vayLai.hopdongvl.trangthaihopdong}}">{{vayLai.hopdongvl.trangthaihopdong}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr class="text-right text-danger">
                  <td style="background-color:#ECECEC" colspan="4">
                    <strong>Tổng tiền </strong>
                  </td>
                  <td style="background-color:#ECECEC">
                    <span>{{tongTienVLs |currency : 'VND' : true : '1.0-0'}}</span>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>