<div>
    <div class="modal-header">
        <h2>
            <i class="fa fa-calendar" width="20%" aria-hidden="true"></i>
            <span>Thống kê vay lãi theo ngày</span>
        </h2>
    </div>
    <div class="widget-header" style="padding-top:15px">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <label class="col-md-4 control-label">
                        Nhân Viên
                    </label>
                    <div class="col-md-8 form-group">
                        <!-- <input [(ngModel)]="nhanVien.id" type="text" class="form-control" name="nhanvien" id="field_nhanvien" required/> -->
                        <select class="form-control" name="nhanVien" [(ngModel)]="selectedNhanVien">
                            <option [ngValue]="default">Tất cả nhân viên</option>
                            <option *ngFor="let nhanVien of nhanViens" [ngValue]="nhanVien">{{nhanVien.ten}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Từ Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
            </div>
            <div class="col-md-5">
                <label>Đến Ngày</label>
                <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
                <button class="btn btn-info pull-right" (click)="timKiem()">
                    <i class="pi pi-search" aria-hidden="true"></i>Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <p-table [value]="lichSuDongTienVLs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="6" class="bg-primary text-white text-center">Báo cáo lịch sử đóng lãi vay lãi</th>
                </tr>
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">#</span>
                    </th>
                    <th>
                        <span>Ngày</span>
                    </th>
                    <th>
                        <span>Nhân viên</span>
                    </th>
                    <th>
                        <span>Khách hàng</span>
                    </th>
                    <th>
                        <span>Số tiền</span>
                    </th>

                    <th>
                        <span>Trạng thái</span>
                    </th>
                </tr>
            </ng-template>
            <!-- Code backend lấy dữ liệu body -->
            <ng-template pTemplate="body" let-lichSuDongTien>
                <tr (click)="findVayLaiByHopDong(lichSuDongTien.hopDongId)">
                    <td>{{lichSuDongTien.mahopdong}}</td>
                    <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>
                    <td>{{lichSuDongTien.nhanVienTen}}</td>
                    <td>{{lichSuDongTien.khachHangTen}}</td>
                    <td>{{lichSuDongTien.sotien  |currency : 'VND' : true : '1.0-0'}}</td>
                    <td>
                        <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng tiền </strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienVL  |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>
                    <td></td>
                </tr>

            </ng-template>
        </p-table>
    </div>
    <div class="table-responsive" style="padding-top: 50px">
        <p-table [value]="ghiNoVLs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="6" class="bg-primary text-white text-center">Báo cáo ghi nợ vay lãi</th>
                </tr>
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">#</span>
                    </th>
                    <th>
                        <span>Ngày</span>
                    </th>
                    <th>
                        <span>Nhân viên</span>
                    </th>
                    <th>
                        <span>Khách hàng</span>
                    </th>
                    <th>
                        <span>Số tiền</span>
                    </th>

                    <th>
                        <span>Trạng thái</span>
                    </th>
                </tr>
            </ng-template>
            <!-- Code backend lấy dữ liệu body -->
            <ng-template pTemplate="body" let-ghiNo>
                <tr (click)="findVayLaiByHopDong(ghiNo.hopDongId)">
                    <td>{{ghiNo.id}}</td>
                    <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                    <td>{{ghiNo.nhanVienTen}}</td>
                    <td>{{ghiNo.khachHangTen}}</td>
                    <td>{{ghiNo.sotien  |currency : 'VND' : true : '1.0-0'}}</td>
                    <td jhiTranslate="{{'servertdjhipApp.batHo.detail.' + ghiNo.trangthai}}">{{ghiNo.trangthai}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng nợ </strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienNoVl  |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng trả </strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienTraVl  |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng tiền </strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienTraVl-tongTienNoVl  |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>
                    <td></td>
                </tr>

            </ng-template>
        </p-table>
    </div>
    <div class="table-responsive" style="padding-top: 50px">
        <p-table [value]="vayLaiThemBot" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="6" class="bg-primary text-white text-center">Báo cáo hợp đồng vay lãi vay thêm/trả bớt</th>
                </tr>
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">#</span>
                    </th>
                    <th>
                        <span>Ngày</span>
                    </th>
                    <th>
                        <span>Nhân viên</span>
                    </th>
                    <th>
                        <span>Khách hàng</span>
                    </th>
                    <th>
                        <span>Số tiền</span>
                    </th>

                    <th>
                        <span>Trạng thái</span>
                    </th>
                </tr>
            </ng-template>
            <!-- Code backend lấy dữ liệu body -->
            <ng-template pTemplate="body" let-vayLai>
                <tr (click)="findVayLaiByHopDong(vayLai.hopdong.id)">
                    <td>{{vayLai.hopdongvl.mahopdong}}</td>
                    <td>{{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}</td>
                    <td>{{vayLai.nhanVienTen}}</td>
                    <td>{{vayLai.khachHangTen}}</td>
                    <td>{{vayLai.tienvay  |currency : 'VND' : true : '1.0-0'}}</td>
                    <td jhiTranslate="{{'servertdjhipApp.vayLai.' + vayLai.hopdongvl.trangthaihopdong}}">{{vayLai.hopdongvl.trangthaihopdong}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng tiền </strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienVLThemBot |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>
                    <td></td>
                </tr>

            </ng-template>
        </p-table>
    </div>
    <div class="table-responsive">
        <p-table [value]="lichSuDongTienTraGoc" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="6" class="bg-primary text-white text-center">Báo cáo lịch sử trả gốc</th>
                </tr>
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">#</span>
                    </th>
                    <th>
                        <span>Ngày</span>
                    </th>
                    <th>
                        <span>Nhân viên</span>
                    </th>
                    <th>
                        <span>Khách hàng</span>
                    </th>
                    <th>
                        <span>Số tiền</span>
                    </th>

                    <th>
                        <span>Trạng thái</span>
                    </th>
                </tr>
            </ng-template>
            <!-- Code backend lấy dữ liệu body -->
            <ng-template pTemplate="body" let-lichSuDongTien>
                <tr (click)="findVayLaiByHopDong(lichSuDongTien.hopDongId)">
                    <td>{{lichSuDongTien.mahopdong}}</td>
                    <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>

                    <td>{{lichSuDongTien.nhanVienTen}}</td>
                    <td>{{lichSuDongTien.khachHangTen}}</td>
                    <td>{{lichSuDongTien.sotien  |currency : 'VND' : true : '1.0-0'}}</td>
                    <td>
                        <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng</strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienTraGoc |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>

                    <td></td>
                </tr>

            </ng-template>
        </p-table>
    </div>
    <div class="table-responsive" style="padding-top: 50px">
        <p-table [value]="vayLais" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="6" class="bg-primary text-white text-center">Báo cáo hợp đồng vay lãi thêm mới</th>
                </tr>
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">#</span>
                    </th>
                    <th>
                        <span>Ngày</span>
                    </th>
                    <th>
                        <span>Nhân viên</span>
                    </th>
                    <th>
                        <span>Khách hàng</span>
                    </th>
                    <th>
                        <span>Số tiền</span>
                    </th>

                    <th>
                        <span>Trạng thái</span>
                    </th>
                </tr>
            </ng-template>
            <!-- Code backend lấy dữ liệu body -->
            <ng-template pTemplate="body" let-vayLai>
                <tr  (click)="findVayLaiByHopDong(vayLai.hopdongvl.id)">
                    <td>{{vayLai.hopdongvl.mahopdong}}</td>
                    <td>{{vayLai.hopdongvl.ngaytao | date:"dd/MM/yyyy"}}</td>
                    <td>{{vayLai.nhanVienTen}}</td>
                    <td>{{vayLai.khachHangTen}}</td>
                    <td>{{vayLai.tienvay  |currency : 'VND' : true : '1.0-0'}}</td>
                    <td jhiTranslate="{{'servertdjhipApp.vayLai.' + vayLai.hopdongvl.trangthaihopdong}}">{{vayLai.hopdongvl.trangthaihopdong}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td align="right" style="color:red;background-color:#ECECEC" colspan="4">
                        <strong>Tổng tiền </strong>
                    </td>
                    <td align="right" style="background-color:#ECECEC">
                        <span style="color:red">{{tongTienVLs |currency : 'VND' : true : '1.0-0'}}</span>
                    </td>
                    <td></td>
                </tr>

            </ng-template>
        </p-table>
    </div>

</div>