<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Ngày đảo họ:</td>
              <td>(Input date)</td>
            </tr>
            <tr>
              <td>Bát họ mới:</td>
              <td><input type="number" pInputText></td>
            </tr>
            <tr>
              <td>Tiền đưa khách:</td>
              <td><input type="number" pInputText></td>
            </tr>
            <tr>
              <td>Bốc trong vòng:</td>
              <td><input type="number" pInputText></td>
            </tr>
            <tr>
              <td>Số ngày đóng tiền:</td>
              <td><input type="number" pInputText></td>
            </tr>
            <tr>
              <td colspan="2" class="text-center"><button class="btn btn-primary">Đảo họ</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>