<div>
    <h2>
        <span jhiTranslate="servertdjhipApp.anhTaiSan.home.title">Anh Tai Sans</span>
        <button class="btn btn-primary float-right jh-create-entity create-anh-tai-san" [routerLink]="['/', { outlets: { popup: ['anh-tai-san-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="servertdjhipApp.anhTaiSan.home.createLabel">
            Create new Anh Tai San
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="anhTaiSans">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="servertdjhipApp.anhTaiSan.url">Url</span></th>
            <th><span jhiTranslate="servertdjhipApp.anhTaiSan.taiSan">Tai San</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let anhTaiSan of anhTaiSans ;trackBy: trackId">
                <td><a [routerLink]="['../anh-tai-san', anhTaiSan.id ]">{{anhTaiSan.id}}</a></td>
                <td>{{anhTaiSan.url}}</td>
                <td>
                    <div *ngIf="anhTaiSan.taiSanId">
                        <a [routerLink]="['../tai-san', anhTaiSan.taiSanId  ]" >{{anhTaiSan.taiSanId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../anh-tai-san', anhTaiSan.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'anh-tai-san/'+ anhTaiSan.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'anh-tai-san/'+ anhTaiSan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
