<div *ngIf="batHo">
  <h2>
    <span>Bát họ</span> {{batHo.hopdong.mahopdong}}</h2>
  <hr>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <table class="table table-responsive h4">
        <tr>
          <td rowspan="2">
            <span class="fa fa-address-card-o fa-4x text-primary"></span>
          </td>
          <td>
            <b>Khách hàng</b>:
            <a [routerLink]="['../../khach-hang-admin', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangTen}}</a>
          </td>
        </tr>
        <tr>
          <td>
            <b>ID</b>:
            <a [routerLink]="['../../khach-hang-admin', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangId}}</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-responsive h4">
        <tr>
          <td rowspan="3">
            <span class="fa fa-paypal fa-5x text-primary"></span>
          </td>
          <td>
            <b>Bát họ</b>: {{batHo.tongtien |currency : 'VND' : true : '2.0-0'}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Họ từ ngày</b>: {{batHo.hopdong.ngaytao | date:"dd/MM/yyyy"}}
          </td>
        </tr>
        <tr>
          <td class="text-danger">
            <b>Số nợ còn lại</b>: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-responsive h4">
        <tr>
          <td rowspan="4">
            <span class="fa fa-credit-card text-primary fa-5x"></span>
          </td>
          <td>
            <b>Số tiền đưa khách</b>: {{batHo.tienduakhach |currency : 'VND' : true : '1.0-0'}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Tổng tiền phải đóng</b>: {{batHo.tongtien |currency : 'VND' : true : '1.0-0'}}
          </td>
        </tr>
        <tr>
          <td class="text-success">
            <b>Đã đóng</b>: {{tiendadong |currency : 'VND' : true : '1.0-0'}}
          </td>
        </tr>
        <tr>
          <td class="text-warning">
            <b>Còn lại</b>: {{batHo.tongtien-tiendadong |currency : 'VND' : true : '1.0-0'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button type="submit" (click)="previousState()" class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;
    <span> Quay lại</span>
  </button>
  <p-tabView>
    <p-tabPanel header="Lịch đóng tiền">
      <div class="row">
        <div class="col-md-6">
          <p-table [value]="lichSuDongTiensChuaDong" [scrollable]="true" [responsive]="true" scrollHeight="200px" [(selection)]="selected"
            dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="6" class="bg-secondary text-white text-center">Tiền họ chưa đóng</th>
              </tr>
              <tr>
                <th>
                  <span>STT</span>
                </th>
                <th>
                  <span>Trạng Thái</span>
                </th>
                <th>
                  <span>Ngày họ</span>
                </th>
                <th>
                  <span>Tiền họ</span>
                </th>
                <th>
                  <span>Ngày giao dịch</span>
                </th>
                <th>
                  <span>Tiền khách trả</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lichSuDongTien>
              <tr [pSelectableRow]="lichSuDongTien">
                <td>{{lichSuDongTien.id}}</td>
                <td>
                  <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                </td>
                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="col-md-6">
          <p-table [value]="lichSuDongTiensDaDong" [scrollable]="true" [responsive]="true" scrollHeight="200px" [(selection)]="selected"
            dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th colspan="6" class="bg-success text-white text-center">Tiền họ đã đóng</th>
              </tr>
              <tr>
                <th>
                  <span>STT</span>
                </th>
                <th>
                  <span>Trạng Thái</span>
                </th>
                <th>
                  <span>Ngày họ</span>
                </th>
                <th>
                  <span>Tiền họ</span>
                </th>
                <th>
                  <span>Ngày giao dịch</span>
                </th>
                <th>
                  <span>Tiền khách trả</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lichSuDongTien>
              <tr [pSelectableRow]="lichSuDongTien">
                <td>{{lichSuDongTien.id}}</td>
                <td>
                  <span jhiTranslate="{{'servertdjhipApp.lichSuDongTien.' + lichSuDongTien.trangthai}}">{{lichSuDongTien.trangthai}}</span>
                </td>
                <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
                <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
                <td>{{lichSuDongTien.sotien |currency : 'VND' : true : '1.0-0'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Nợ">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h3>Lịch sử nợ</h3>
          <hr/>
          <br />
          <p-table [value]="ghiNos" [paginator]="true" [rows]="10" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th>Ngày</th>
                <th>Nhân viên</th>
                <th>Trạng thái</th>
                <th>Số tiền</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ghiNo>
              <tr>
                <td>{{ghiNo.ngayghino | date:"dd/MM/yyyy"}}</td>
                <td>{{ghiNo.nhanVienTen}}</td>
                <td>{{ghiNo.sotien}}</td>
                <td jhiTranslate="{{'servertdjhipApp.batHo.detail.' + ghiNo.trangthai}}">{{ghiNo.trangthai}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Lịch sử">
      <div class="row">
        <div class="col-md-12">
          <h3>Lịch sử thao tác</h3>
          <br />
          <p-table [value]="lichSuThaoTacHopDongs" [paginator]="true" [rows]="5" dataKey="id">
            <ng-template pTemplate="header">
              <th>Ngày</th>
              <th>Nhân viên</th>
              <th>Số tiền ghi nợ</th>
              <th>Số tiền ghi trả</th>
              <th>Nội dung</th>
            </ng-template>
            <ng-template pTemplate="body" let-lichSuThaoTacHopDong>
              <tr [pSelectableRow]="lichSuThaoTacHopDong">
                <td>{{lichSuThaoTacHopDong.thoigian | date: "dd/MM/yyyy lúc hh:mm:ss"}}</td>
                <td>{{lichSuThaoTacHopDong.nhanVienTen}}</td>
                <td>{{lichSuThaoTacHopDong.soTienGhiNo}}</td>
                <td>{{lichSuThaoTacHopDong.soTienGhiCo}}</td>
                <td>{{lichSuThaoTacHopDong.noidung}}</td>
              </tr>
            </ng-template>
            </table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Chứng từ">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h4>Danh sách chứng từ tài sản</h4>
              <hr/>
              <p-table [value]="taiSans" [paginator]="true" [rows]="10" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Số hiệu</th>
                    <th>Mô tả</th>
                    <th>Nơi cất</th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-taiSan>
                  <tr>
                    <td>{{taiSan.sohieu}}</td>
                    <td>{{taiSan.mota}}</td>
                    <td>{{taiSan.noicat}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>