<div *ngIf="batHo">
  <h2>
    <span>Bát họ</span> {{batHo.hopdong.mahopdong}}</h2>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <p-galleria [images]="images" panelWidth="100%" panelHeight="313" [showCaption]="false"></p-galleria>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-2">
          <span class="fa fa-address-card-o fa-4x text-primary"></span>
        </div>
        <div class="col-md-10" style="font-size:18px">
          <div class="row">
            <div class="col-md-12">
              <b>Khách hàng</b>:
              <a [routerLink]="['../../khach-hang-admin', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangTen}}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <b>ID</b>:
              <a [routerLink]="['../../khach-hang-admin', batHo.hopdong.khachHangId ]">{{batHo.hopdong.khachHangId}}</a>
              </td>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:100px">
        <div class="col-md-2">
          <span class="fa fa-paypal fa-5x text-primary"></span>
        </div>
        <div class="col-md-10" style="font-size:18px">
          <div class="row">
            <div class="col-md-12">
              <span class="fa fa-money text-primary"></span>
              <b>Bát họ</b>: {{batHo.tongtien |currency : 'VND' : true : '2.0-0'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="fa fa-calendar text-primary"></span>
              <b>Họ từ ngày</b>: {{batHo.hopdong.ngaytao | date:"dd/MM/yyyy"}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-danger">
              <span class="fa fa-thumbs-o-down text-danger"></span>
              <b>Số nợ còn lại</b>: {{tienNo-tienTra |currency : 'VND' : true : '1.0-0'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-2">
          <span class="fa fa-credit-card text-primary fa-5x"></span>
        </div>
        <div class="col-md-10" style="font-size:18px">
          <div class="row">
            <div class="col-md-12">
              <span class="fa fa-sign-out text-primary"></span>
              <b>Số tiền đưa khách</b>: {{batHo.tienduakhach |currency : 'VND' : true : '1.0-0'}}
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="fa fa-money text-primary"></span>
                <b>Tổng tiền phải đóng</b>: {{batHo.tongtien |currency : 'VND' : true : '1.0-0'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-success">
                <span class="fa fa-check-square-o text-success"></span>
                <b>Đã đóng</b>: {{tiendadong |currency : 'VND' : true : '1.0-0'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-warning">
                <span class="fa fa-minus-square-o text-warning"></span>
                <b>Còn lại</b>: {{batHo.tongtien-tiendadong |currency : 'VND' : true : '1.0-0'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" (click)="previousState()" class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;
    <span> Quay lại</span>
  </button>
  <p-tabView>
    <p-tabPanel header="Lịch đóng tiền" disabled>
      <p-table [value]="lichSuDongTiens" [paginator]="true" [rows]="5" [(selection)]="selected" dataKey="id" (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <span>STT</span>
            </th>
            <th>
              <span>Trạng Thái</span>
            </th>
            <th>
              <span>Ngày họ</span>
            </th>
            <th>
              <span>Tiền họ</span>
            </th>
            <th>
              <span>Ngày giao dịch</span>
            </th>
            <th>
              <span>Tiền khách trả</span>
            </th>
            <th>
              <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lichSuDongTien>
          <tr [pSelectableRow]="lichSuDongTien">
            <td>{{lichSuDongTien.id}}</td>
            <td>
              <span>{{lichSuDongTien.trangthai}}</span>
            </td>
            <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
            <td>{{lichSuDongTien.sotien}}</td>
            <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>
            <td>{{lichSuDongTien.sotien}}</td>
            <td>
              <!-- <p-tableCheckbox [value]="lichSuDongTien"></p-tableCheckbox> -->
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>