<div class="main-content">
  <div class="container-fluid">
      <div class="widget invoice">
          <div class="widget-header">
                 
              <div class="pull-left">
                  <h3 class="cusName">Cửa hàng : abc12</h3>
              </div>
              
              <div class="pull-right" style="white-space:nowrap;padding-top:28px;padding-right:10px">
                  <abbr title="Phone">Địa chỉ :</abbr> số 90 đường trên trời
              </div>
  
              <div class="pull-right" style="white-space:nowrap;padding-top:28px;padding-right:100px">
                   <abbr title="Phone">Số điện thoại :</abbr> 0123312902
              </div>
          </div>
          <div class="widget-content">
              <div class="row">
                  <!-- Thông tin vốn -->
                 <div class="col-md-6">
                      <div class="widget">
                              <div class="widget-header">
                                  <h4 style="font-size: 15px;">
                                      <i class="icon-calendar"></i>Thông tin vốn</h4>
                              </div>
                              <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">123</span>
                                          <b>Vốn đầu tư</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Qũy tiền mặt</b>
                                          
                                      </a>
                                     
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">1</span>
                                          <b>Tiền đang cho vay</b>
                                      </a>
                                  </div>
                              </div>
                          </div>

                 </div>
                      <div class="col-md-6">
                      <!--Thong tin ve lai-->
                          <div class="widget">
                              <div class="widget-header">
                                  <h4 style="font-size: 15px;">
                                      <i class="icon-calendar"></i>Thông tin lãi</h4>
                              </div>
                              <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi dự kiến</b>
                                      </a>
                                      
                                      
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi đã thu</b>
                                      </a>
                                  </div>
                              </div>
                          </div>
                       </div>
              </div>
              <div class="row">
                      <!--Thông tin hợp đồng-->
                      <div class="col-md-6">
                          <div class="widget">
                              <div class="widget-header">
                                  <h4 style="font-size: 15px;">
                                      <i class="icon-calendar"></i>Thông tin hợp đồng</h4>
                              </div>
                              <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">1</span>
                                          <b>Hợp đồng mở</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Hợp đồng đóng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">1</span>
                                          <b>Tổng số hợp đồng</b>
                                      </a>
                                     <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tổng số hợp đồng nợ lãi</b>
                                      </a>
                                  </div>
                              </div>
                          </div>
      
                          
      
                      </div>
      
                       <!--Thu / Chi-->
                       <div class="col-md-6">
                          <div class="widget">
                              <div class="widget-header">
                                  <h4 style="font-size: 15px;">
                                      <i class="icon-calendar"></i>Thu / Chi</h4>
                              </div>
                              <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Chi tiêu</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Thu bất thường</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Số tiền rút từ lãi</b>
                                      </a>
                                     <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tổng tiền khách nợ</b>
                                      </a>
                                  </div>
                              </div>
                          </div>
                       </div>
              </div>
              <div style="height:1px;border-top:1px solid green;margin-bottom:20px;">&nbsp;</div>
              <div class="row">
                      <div class="col-md-6">
                          <div class="alert alert-info" style="text-align:center;padding:5px;"><span style="font-size:22px;font-weight:bold">Vay lãi</span></div>    
                          <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Số hợp đồng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Hợp đồng đóng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Hợp đồng mở</b>
                                      </a>
                                     <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tiền cho vay</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi dự kiến</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi đã thu</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tiền khách nợ</b>
                                      </a>
                                  </div>
                              </div>
                      </div>
                      <div class="col-md-6">
                          <div class="alert alert-info" style="text-align:center;padding:5px;"><span style="font-size:22px;font-weight:bold">Bát họ</span></div>    
                          <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Số hợp đồng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Hợp đồng đóng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Hợp đồng mở</b>
                                      </a>
                                     <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tiền cho vay</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi dự kiến</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi đã thu</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tiền khách nợ</b>
                                      </a>
                                  </div>
                              </div>
                      </div>
                      <div class="col-md-6">
                          <div class="alert alert-info" style="text-align:center;padding:5px;"><span style="font-size:22px;font-weight:bold">Cầm đồ</span></div>    
                          <div class="widget-content">
                                  <div class="list-group">
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">1</span>
                                          <b>Số hợp đồng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">0</span>
                                          <b>Hợp đồng đóng</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item">
                                          <span class="badge cmd-money">1</span>
                                          <b>Hợp đồng mở</b>
                                      </a>
                                     <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">1</span>
                                          <b>Tiền cho vay</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi dự kiến</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Lãi đã thu</b>
                                      </a>
                                      <a href="javascript:void(0);" class="list-group-item cusName">
                                          <span class="badge cmd-money">0</span>
                                          <b>Tiền khách nợ</b>
                                      </a>
                                  </div>
                              </div>
                      </div>
                  </div>

          </div>
      </div>
  </div>
</div>