<div class="main-content">
    <div class="container-fluid">
        <div class="widget invoice">
            <div class="widget-header">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                            Thông tin chi tiết cửa hàng
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label">Cửa hàng: </label>
                        <select class="custom-select">
                            <option selected>Cửa hàng 1</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <span>Số điện thoại: (Dữ liệu)</span>
                        <br/>
                        <span>Địa chỉ: (Dữ liệu)</span>
                        <br/>
                        <span>Người đại diện: (Dữ liệu)</span>
                    </div>
                </div>
            </div>
            <div class="widget-content">
                <div class="row">
                    <!-- Thông tin vốn -->
                    <div class="col-md-6">
                        <div class="widget">
                            <div class="widget-header">
                                <h4 style="font-size: 15px;">
                                    <i class="icon-calendar"></i>Thông tin vốn</h4>
                            </div>
                            <div class="widget-content">
                                <div class="list-group">
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">123</span>
                                        <b>Vốn đầu tư</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">0</span>
                                        <b>Qũy tiền mặt</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item cusName">
                                        <span class="badge cmd-money">1</span>
                                        <b>Tiền đang cho vay</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Thong tin ve lai-->
                        <div class="widget">
                            <div class="widget-header">
                                <h4 style="font-size: 15px;">
                                    <i class="icon-calendar"></i>Thông tin lãi</h4>
                            </div>
                            <div class="widget-content">
                                <div class="list-group">
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">0</span>
                                        <b>Lãi dự kiến</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item cusName">
                                        <span class="badge cmd-money">0</span>
                                        <b>Lãi đã thu</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Thông tin hợp đồng-->
                    <div class="col-md-6">
                        <div class="widget">
                            <div class="widget-header">
                                <h4 style="font-size: 15px;">
                                    <i class="icon-calendar"></i>Thông tin hợp đồng</h4>
                            </div>
                            <div class="widget-content">
                                <div class="list-group">
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">1</span>
                                        <b>Hợp đồng mở</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">0</span>
                                        <b>Hợp đồng đóng</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">1</span>
                                        <b>Tổng số hợp đồng</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item cusName">
                                        <span class="badge cmd-money">0</span>
                                        <b>Tổng số hợp đồng nợ lãi</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Thu / Chi-->
                    <div class="col-md-6">
                        <div class="widget">
                            <div class="widget-header">
                                <h4 style="font-size: 15px;">
                                    <i class="icon-calendar"></i>Thu / Chi</h4>
                            </div>
                            <div class="widget-content">
                                <div class="list-group">
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">0</span>
                                        <b>Chi tiêu</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">0</span>
                                        <b>Thu bất thường</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge cmd-money">0</span>
                                        <b>Số tiền rút từ lãi</b>
                                    </a>
                                    <a href="javascript:void(0);" class="list-group-item cusName">
                                        <span class="badge cmd-money">0</span>
                                        <b>Tổng tiền khách nợ</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:1px;border-top:1px solid green;margin-bottom:20px;">&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info" style="text-align:center;padding:5px;">
                            <span style="font-size:22px;font-weight:bold">Vay lãi / Cầm đồ</span>
                        </div>
                        <div class="widget-content">
                            <div class="list-group">
                                <a href="javascript:void(0);" class="list-group-item">
                                    <span class="badge cmd-money">0</span>
                                    <b>Số hợp đồng</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item">
                                    <span class="badge cmd-money">0</span>
                                    <b>Hợp đồng đóng</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item">
                                    <span class="badge cmd-money">0</span>
                                    <b>Hợp đồng mở</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Tiền cho vay</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Lãi dự kiến</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Lãi đã thu</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Tiền khách nợ</b>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info" style="text-align:center;padding:5px;">
                            <span style="font-size:22px;font-weight:bold">Bát họ</span>
                        </div>
                        <div class="widget-content">
                            <div class="list-group">
                                <a href="javascript:void(0);" class="list-group-item">
                                    <span class="badge cmd-money">0</span>
                                    <b>Số hợp đồng</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item">
                                    <span class="badge cmd-money">0</span>
                                    <b>Hợp đồng đóng</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item">
                                    <span class="badge cmd-money">0</span>
                                    <b>Hợp đồng mở</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Tiền cho vay</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Lãi dự kiến</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Lãi đã thu</b>
                                </a>
                                <a href="javascript:void(0);" class="list-group-item cusName">
                                    <span class="badge cmd-money">0</span>
                                    <b>Tiền khách nợ</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>