<div class="main-content">


  <form class="form-vertical" method="post" >

    <div class="form-group">
      <div class="row">
       

        <div class="col-md-2">
          <label class="control-label">Tên Khách Hàng</label>
          <input type="text" class="form-control" >
        </div>

        <div class="col-md-2">
          <label class="control-label">Nhân Viên</label>

          <select class="form-control" >
            <option style="cursor:pointer" label="Tất cả nhân viên" title="Tất cả" value="0">Tất cả</option>
            <option style="cursor:pointer" label="asdasd" title="asdasd" value="54117">asdasd</option>
            <option style="cursor:pointer" label="ádasdas" title="ádasdas" value="54120">ádasdas</option>
          </select>
        </div>

        <div class="col-md-2">
          <label class="control-label">Loại Hàng Hóa</label>
          <select class="form-control">
            <option style="cursor: pointer" label="Tất cả Hàng Hóa" title="Tất cả" value="0">Tất cả</option>
            <option style="cursor:pointer" label="Xe máy" title="Xe máy" value="243915">Xe máy</option>
            <option style="cursor:pointer" label="Ô tô" title="Ô tô" value="243916">Ô tô</option>
            <option style="cursor:pointer" label="Điện thoại" title="Điện thoại" value="243917">Điện thoại</option>
            <option style="cursor:pointer" label="Laptop" title="Laptop" value="243918">Laptop</option>
            <option style="cursor:pointer" label="Vàng" title="Vàng" value="243919">Vàng</option>
          </select>
        </div>

        <div class="col-md-2" id="divFromDate">
          <label class="control-label">
            Từ ngày</label>
          <input type="date"  class="form-control " >
        </div>
        <div class="col-md-2" >
          <label class="control-label">
            Đến ngày
          </label>
          <input type="text" class="form-control " >
        </div>

        <div class="col-md-2" style="padding-top: 2.7%">
          <button class="btn btn-info btnSearch" >
            Tìm kiếm
          </button>
          <button class="btn btn-sm btnSearch"  style="margin-left: 20px">
            <i class="fa fa-file-excel-o"></i></button>
        </div>
      </div>

    </div>
  </form>
  <div class="form-group">
    <div class="widget-content">
      <!--GIAO DỊCH Cầm đồ-->
      <table class="table table-striped table-hover table-bordered table-calendar table-my-hover" style="margin-top:30px;">
        <thead>
          <tr style="background:#3f86c3;">
            <th colspan="91" style="text-align:left; padding-left:10px;font-size:12px;color:#FFF;">Báo cáo hàng cầm đồ thanh lý</th>
          </tr>
          <tr>
            <th width="50px" style="text-align:center">#</th>
            <th width="120px" style="text-align:center">Mã Hợp Đồng</th>
            <th width="170px" class="align-left">Tên Khách Hàng</th>
            <th style="text-align:left" width="250px">Tên Hàng</th>
            <th class="align-left">Ngày Cầm</th>
            <th class="align-left">Ngày Thanh Lý</th>
            <th class="align-right">Tiền Cầm</th>
            <th class="align-right">Tiền Thanh Lý</th>
            <th class="align-right">Tiền Lãi</th>
            <th class="align-left" width="250px">Ghi Chú</th>
          </tr>
        </thead>
        <tbody>

          <!--FOOTER-->
        </tbody>
      </table>


      <!--Pagging-->
      <div class="row">
        <button>Pre</button>
        <button>1</button>
        <button>Next</button>
      </div>

      <!--End Padding-->
    </div>
  </div>
  
</div>