<div>
  <h2>
    <i class="fa fa-calendar" width="20%" aria-hidden="true"></i>
    <span>Lịch sử thu tiền họ theo ngày</span>


  </h2>
  <div class="widget-header">
    <div class="row">

      <div class="col-md-4">
        <label>Từ Ngày</label>
        <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
      </div>
      <div class="col-md-5">
        <label>Đến Ngày</label>
        <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
        <button class="btn btn-info pull-right" (click)="timKiem()">
          <i class="pi pi-search" aria-hidden="true"></i>Tìm kiếm</button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <p-table [value]="lichSuDongTienBHs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th colspan="5" class="bg-primary text-white text-center">Báo cáo lịch sử đóng tiền bát họ</th>
        </tr>
        <tr>
          <!-- <th>
            <span jhiTranslate="global.field.id">#</span>
          </th> -->
          <th>
            <span>Người thu tiền</span>
          </th>
          <th>
            <span>Từ ngày</span>
          </th>
          <th>
            <span>Đến ngày</span>
          </th>
          <th>
            <span>Tổng tiền thu</span>
          </th>

          <th>
            <span>Chi tiết</span>
          </th>
        </tr>
      </ng-template>
      <!-- Code backend lấy dữ liệu body -->
      <ng-template pTemplate="body" let-lichSuDongTien>
        <tr>
          <!-- <td>{{lichSuDongTien.id}}</td> -->
          <td>{{lichSuDongTien.nhanVienTen}}</td>
          <td>{{lichSuDongTien.ngaybatdau | date:"dd/MM/yyyy"}}</td>
          <td>{{lichSuDongTien.ngayketthuc | date:"dd/MM/yyyy"}}</td>

          <td>{{lichSuDongTien.sotien}}</td>
          <td>
            
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td align="right" style="color:red;background-color:#ECECEC" colspan="3">
            <strong>Tổng</strong>
          </td>
          <td align="right" style="background-color:#ECECEC">
            <span style="color:red">{{tongTienBH}}</span>
          </td>

          <td></td>
        </tr>

      </ng-template>
    </p-table>
  </div>
</div>