<!-- <div class="main-content">
  <form class="form-vertical" method="post">
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label class="control-label">Loại hình</label>
          <select class="form-control">
            <option style="cursor: pointer" label="Tất cả" title="Tất cả" value="0">Tất cả</option>
            <option style="cursor: pointer" label="Cầm đồ" title="Tất cả" value="4">Cầm Đồ</option>
            <option style="cursor: pointer" label="Vay lãi" title="Tất cả" value="1">Vay Lãi</option>
            <option style="cursor: pointer" label="Bát họ" title="Tất cả" value="2">Bát Họ</option>
          </select>
        </div>
        <div class="col-md-2">
          <label class="control-label">
            Từ ngày</label>
          <input type="date" class="form-control ">
        </div>
        <div class="col-md-2" id="divToDate">
          <label class="control-label">
            Đến ngày
          </label>
          <input type="date" class="form-control ">
        </div>
        <div class="col-md-2">
          <label class="control-label">
            Nhân Viên
          </label>
          <select class="form-control">
            <option value="0">Tất cả</option>
            <option value="54117">asdasd</option>
            <option value="54120">ádasdas</option>
          </select>
        </div>
        <div class="col-md-2" style="padding-top: 2.7%">
          <button class="btn btn-info btnSearch">
            Tìm kiếm
          </button>
          <button class="btn btn-sm btnSearch" title="Xuất excel" style="margin-left:20px;">
            <i class="fa fa-file-excel-o"></i>
          </button>
        </div>
      </div>

    </div>
  </form>
  <div class="form-group">
    <div class="widget-content">
      <table class="table table-striped table-hover table-bordered table-calendar table-my-hover" style="margin-top:30px;">
        <thead>
          <tr style="background:#3f86c3;">
            <th colspan="91" style="text-align:left; padding-left:10px;font-size:12px;color:#FFF;">Báo cáo thu tiền lãi</th>
          </tr>
          <tr>
            <th width="50px" style="text-align:center">#</th>
            <th width="80px" style="text-align:center">Loại Hình</th>
            <th width="80px" style="text-align:center">Mã HĐ</th>
            <th>Khách hàng</th>
            <th>Tên hàng</th>
            <th class="align-right">Tiền vay</th>
            <th style="text-align:center">Ngày GD</th>
            <th style="text-align:right">Tiền lãi</th>
            <th style="text-align:right">Tiền khác</th>
            <th style="text-align:right">Tổng lãi</th>
            <th class="align-center">Loại GD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td></td>
            <td align="right">
              <a style="color:brown">&nbsp;</a>
            </td>
            <td>&nbsp;</td>
            <td align="right" style="color:red;">
              <strong>Tổng </strong>
            </td>
            <td class="align-right">
              <span style="color:red">0</span>
            </td>
            <td class="align-right">
              <span style="color:red">0</span>
            </td>
            <td class="align-right">
              <span style="color:red">0</span>
            </td>
            <td>&nbsp;</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


</div> -->
<div>
  <div class="modal-header">
    <h2>
      <i class="fa fa-calendar" width="20%" aria-hidden="true"></i>
      <span>Báo cáo thu lãi</span>
    </h2>
  </div>
  <div class="widget-header" style="padding-top:15px">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <label class="col-md-4 control-label">
            Nhân Viên
          </label>
          <div class="col-md-8 form-group">
            <!-- <input [(ngModel)]="nhanVien.id" type="text" class="form-control" name="nhanvien" id="field_nhanvien" required/> -->
            <select class="form-control" name="nhanVien" [(ngModel)]="selectedNhanVien">
              <option selected [ngValue]=1>Tất cả nhân viên</option>
              <option *ngFor="let nhanVien of nhanViens" [ngValue]="nhanVien">{{nhanVien.ten}}</option>

            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label>Từ Ngày</label>
        <p-calendar id="field_thoigian" [(ngModel)]="tungay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
      </div>
      <div class="col-md-5">
        <label>Đến Ngày</label>
        <p-calendar id="field_thoigian" [(ngModel)]="denngay" dateFormat="dd.mm.yy" name="thoigian"></p-calendar>
        <button class="btn btn-info pull-right" (click)="timKiem()">
          <i class="pi pi-search" aria-hidden="true"></i>Tìm kiếm</button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive" style="padding-top: 50px">
  <p-table [value]="batHos" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th colspan="9" class="bg-primary text-white text-center">Báo cáo thu lãi bát họ</th>
      </tr>
      <tr>
        <th>
          <span jhiTranslate="global.field.id">#</span>
        </th>
        <th>
          <span>Mã HĐ</span>
        </th>
        <th>
          <span>Khách hàng</span>
        </th>
        <th>
          <span>Nhân viên</span>
        </th>
        <th>
          <span>Ngày tạo</span>
        </th>
        <th>
          <span>Tổng tiền</span>
        </th>
        <th>
          <span>Tiền đưa khách</span>
        </th>
        <th>
          <span>Tổng lãi</span>
        </th>
        <th>
          <span>Loại giao dịch</span>
        </th>
      </tr>
    </ng-template>
    <!-- Code backend lấy dữ liệu body -->
    <ng-template pTemplate="body" let-batHo>
      <tr>
        <td></td>
        <td>{{batHo.hopdong.mahopdong}}</td>
        <td>{{batHo.khachHangTen}}</td>
        <td>{{batHo.nhanVienTen}}</td>
        <td>{{batHo.hopdong.ngaytao | date:"dd/MM/yyyy"}}</td>
        <td>{{batHo.tongtien}}</td>
        <td>{{batHo.tienduakhach}}</td>
        <td>{{batHo.tongtien-batHo.tienduakhach}}</td>
        <td>{{batHo.hopdong.trangthaihopdong}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td align="right" style="color:red;background-color:#ECECEC" colspan="5">
          <strong>Tổng</strong>
        </td>
        <td align="right" style="background-color:#ECECEC">
          <span style="color:red">{{tongTienTienBatHo}}</span>
        </td>
        <td align="right" style="background-color:#ECECEC">
          <span style="color:red">{{tongTienBHs}}</span>
        </td>

        <td align="right" style="background-color:#ECECEC">
          <span style="color:red">{{tongTienLaiBatHo}}</span>
        </td>
        <td></td>
      </tr>

    </ng-template>
  </p-table>
</div>
<div class="table-responsive" style="padding-top: 50px">
  <p-table [value]="lichSuDongTienVLs" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th colspan="7" class="bg-primary text-white text-center">Báo cáo thu lãi vay lãi </th>
      </tr>
      <tr>
        <th>
          <span jhiTranslate="global.field.id">#</span>
        </th>
        <th>
          <span>Mã HĐ</span>
        </th>
        <th>
          <span>Khách hàng</span>
        </th>
        <th>
          <span>Nhân viên</span>
        </th>
        <th>
          <span>Ngày GD</span>
        </th>
        <th>
          <span>Tiền lãi</span>
        </th>
        <th>
          <span>Loại giao dịch</span>
        </th>
      </tr>
    </ng-template>
    <!-- Code backend lấy dữ liệu body -->
    <ng-template pTemplate="body" let-lichSuDongTien>
      <tr>
        <td></td>
        <td></td>
        <!-- <td>{{lichSuDongTien.mahopdong}}</td> -->
        <td>{{lichSuDongTien.khachHangTen}}</td>
        <td>{{lichSuDongTien.nhanVienTen}}</td>
        <td>{{lichSuDongTien.ngaygiaodich | date:"dd/MM/yyyy"}}</td>
        <td>{{lichSuDongTien.sotien}}</td>

        <td>{{lichSuDongTien.trangthai}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td align="right" style="color:red;background-color:#ECECEC" colspan="5">
          <strong>Tổng</strong>
        </td>
        <td align="right" style="background-color:#ECECEC">
          <span style="color:red">{{tongTienVL}}</span>
        </td>

        <td></td>

      </tr>

    </ng-template>
  </p-table>
</div>


</div>