<div class="container">



  <!--=== Page Header ===-->
  <div class="container-fluid">
    <div class="row" style="padding: 19px 0px;">
      <h3>Hàng Chờ Thanh Lý</h3>
    </div>
  </div>
  <!-- /Page Header -->
  <div style="border-top: 1px solid #cecece; height: 5px;"></div>


  <form class="form-vertical" method="post">

    <div class="form-group">
      <div class="row">
        
        <div class="col-md-1">
          <label class="control-label">
            Mã HĐ
          </label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-2" >
          <label class="control-label">
            Tên khách hàng</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-2" id="divFromDate">
          <label class="control-label">
            Ngày vay</label>
          <input type="date"  class="form-control" >
        </div>
        <div class="col-md-2">
          <label class="control-label">
            Loại tài sản
          </label>
          
          <select  class="form-control" >
            <option style="cursor: pointer" label="Hợp đồng đang vay" title="Tất cả" value="0">Tất cả</option>
            <option style="cursor:pointer" label="Xe máy" title="Xe máy" value="243915">Xe máy</option>
            <option style="cursor:pointer" label="Ô tô" title="Ô tô" value="243916">Ô tô</option>
            <option style="cursor:pointer" label="Điện thoại" title="Điện thoại" value="243917">Điện thoại</option>
            <option style="cursor:pointer" label="Laptop" title="Laptop" value="243918">Laptop</option>
            <option style="cursor:pointer" label="Vàng" title="Vàng" value="243919">Vàng</option>
          </select>
        </div>
      
        <div class="col-md-2" style="padding-top: 2.7%">
          <button class="btn btn-info btnSearch" >
            Tìm kiếm
          </button>
        </div>
      </div>

    </div>
  </form>

  <div class="form-group">
    <div class="widget-content" >
      <table class="table table-my-hover table-bordered table-checkable" >
        <thead>
          <tr>
            <th width="20px" class="align-center hidden-xs hidden-sm">#</th>
            <th width="70px" class="align-center">Mã HĐ</th>
            <th>Tên KH</th>
            <th class="align-center hidden-xs hidden-sm">Mã TS</th>
            <th class="align-center hidden-xs hidden-sm">Tài sản</th>
            <th class="align-right">Tiền Cầm</th>
            <th class="align-center hidden-xs hidden-sm">Lãi suất</th>
            <th width="120px" class="align-center">Ngày cầm</th>
            <th class="align-right">Lãi đã đóng</th>
            <th class="align-right">Lãi đến hôm nay</th>
            <th class="align-center">Tình trạng</th>

            <th class="align-center" style="width:135px">&nbsp;</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

      <!--Pagging-->
      <div class="row" style="float: left;">
        <button>Pre</button>
        <button>1</button>
        <button>Next</button>
      </div>

      <!--End Padding-->
    </div>
  </div>

  <!--Box loading-->
 

  <!-- Payment -->
  
  

  <!--FOOTER CONTENT-->
</div>