<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                Từ ngày:
              </td>
              <td>15/04/1999</td>
            </tr>
            <tr>
              <td>Đến ngày:</td>
              <!-- <td><p-calendar [(ngModel)]="value"></p-calendar></td> -->
              <td>
                <p-calendar></p-calendar>
              </td>
            </tr>
            <tr>
              <td>Số ngày:</td>
              <td>
                <input type="number" pInputText>
              </td>
            </tr>
            <tr>
              <td>Tiền lãi:</td>
              <td>999 vnđ</td>
            </tr>
            <tr>
              <td>Tiền khác:</td>
              <td>
                <input type="number" pInputText>
              </td>
            </tr>
            <tr>
              <td>Tổng tiền lãi:</td>
              <td>999 vnđ</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center bolder-table-last">
                <button class="btn btn-primary">Đóng lãi</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th colspan="3">Ngày</th>
            <th>Số ngày</th>
            <th>Tiền lãi</th>
            <th>Tiền khác</th>
            <th>Tổng lãi</th>
            <th>Tiền khách trả</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>