<div class="main-content" style="background: white">
  <div class="container-fluid">
    
      <div class="row">
          <div class="col-md-12">
            <span class="glyphicon-calendar"></span>
          <h3>Kiểm tra khách hàng có vay ở cửa hàng khác trong hệ thống hay không</h3>
          </div>
          
      </div>
      <div class="form-group">
          <div class="row">
              <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="Số chứng minh thư hoặc số căn cước khách hàng ...">

              </div>
              <div class="col-md-1">
                  <button class="btn btn-info " style="margin-top: 0px" >Tìm</button>

              </div>
          </div>

      </div>
  </div>
  
</div>
