<div>
    <div class="row modal-header">
        <div class="col-md-12">
            <h2>
                <i class="fa fa-credit-card" width="20%" aria-hidden="true"></i>
                <span>Bát Họ</span>
            </h2>
        </div>
    </div>
    <br/>
    <h3>
        <i class="pi pi-search" width="20%" aria-hidden="true"></i>
        Tìm hợp đồng</h3>
    <div class="ui-g-2">
        <label class="float label">
            <span class="ui-float-label">
                <input id="float-input" name="keyTimBatHo" [(ngModel)]="keyTimBatHo" pInputText type="text" size="30" pTooltip="Tên hợp đồng / Tên khách hàng / CMND / SĐT"
                    tooltipPosition="top" tooltipEvent="focus">
                <label for="float-input">Thông tin tìm kiếm</label>
            </span>
        </label>
    </div>
    <div class="ui-g-2">
        <button class="btn btn-primary float-right" (click)="timBatHo()">
            <span class="fa fa-search"></span>
            Tìm kiếm</button>
    </div>
    <div class="table-responsive" *ngIf="batHos">
        <p-table [value]="batHos" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <span>ID</span>
                    </th>
                    <th>
                        <span>Tên khách hàng</span>
                    </th>
                    <th>
                        <span>Tiền đưa khách</span>
                    </th>
                    <th>
                        <span>Tổng tiền</span>
                    </th>
                    <th>
                        <span>Tổng số ngày</span>
                    </th>
                    <th>
                        <span>Chu kỳ</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-batHo>
                <tr [pSelectableRow]="batHo" [routerLink]="['../bat-ho-admin', batHo.id ]">
                    <td>{{batHo.hopdong.mahopdong}}</td>
                    <td>{{batHo.hopdong.khachHangTen}}</td>
                    <td>{{batHo.tienduakhach}}</td>
                    <td>{{batHo.tongtien}}</td>
                    <td>{{batHo.tongsongay}}</td>
                    <td>{{batHo.chuky}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>