<div class="main-content">
  <div class="container-fluid">
    <div class="rơư">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <th colspan="2">Gia hạn hợp đồng</th>
          </thead>
          <tbody>
            <tr>
              <td>Khách hàng:</td>
              <!-- <td><p-calendar [(ngModel)]="value"></p-calendar></td> -->
              <td>
                (DATA)
              </td>
            </tr>
            <tr>
              <td>Gia hạn thêm:</td>
              <td>
                <input type="number" pInputText> Ngày
              </td>
            </tr>
            <tr>
              <td>Ghi chú:</td>
              <td>
                <input type="text" pInputText>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center">
                <button class="btn btn-primary">Đồng ý</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Gia hạn từ ngày</th>
            <th>Đến ngày</th>
            <th>Số ngày</th>
            <th>Nội dung</th>
            <th></th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>