<div *ngIf="nhanVien">
  <h2>
    <span>Nhân viên</span> {{nhanVien.ten}}</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th>Họ tên</th>
            <td>{{nhanVien.ten}}</td>
          </tr>
          <tr>
            <th>Địa chỉ</th>
            <td>{{nhanVien.diachi}}</td>
          </tr>
          <tr>
            <th>Tỉnh</th>
            <td>{{nhanVien.tenTinh}}</td>
          </tr>
          <tr>
            <th>Huyện</th>
            <td>{{nhanVien.tenHuyen}}</td>
          </tr>
          <tr>
            <th>Xã</th>
            <td>{{nhanVien.tenXa}}</td>
          </tr>
          <tr>
            <th>Ngày tạo</th>
            <td>{{nhanVien.ngayTao | date:"dd/MM/yyyy"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th>Điện thoại</th>
            <td>{{nhanVien.dienthoai}}</td>
          </tr>
          <tr>
            <th>Số chứng minh thư</th>
            <td>{{nhanVien.cmnd}}</td>
          </tr>
          <tr>
            <th>Trạng thái</th>
            <td>
              <span>{{nhanVien.trangthai}}</span>
            </td>
          </tr>
          <tr>
            <th>Thuộc cửa hàng</th>
            <td>
              <div *ngIf="nhanVien.cuaHangId">
                <a [routerLink]="['/cua-hang', nhanVien.cuaHangId]">{{nhanVien.cuaHangId}}</a>
              </div>
            </td>
          </tr>
          <tr>
            <th>User</th>
            <td>{{nhanVien.userId}}</td>
          </tr>
          <tr>
            <th>Ghi chú</th>
            <td>{{nhanVien.ghiChu}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="submit" (click)="previousState()" class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;
    <span>Quay lại</span>
  </button>
  <button type="button" [routerLink]="['/', { outlets: { popup: 'nhan-vien/'+ nhanVien.id + '/edit'} }]" replaceUrl="true"
    queryParamsHandling="merge" class="btn btn-primary">
    <span class="fa fa-pencil"></span>&nbsp;
    <span>Chỉnh sửa</span>
  </button>
  <p-tabView>
    <p-tabPanel header="Danh sách bát họ">
      <p-table [value]="batHos" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
          <ng-template pTemplate="header">
              <tr>
                  <th>
                      <span>ID</span>
                  </th>
                  <th>
                      <span>Tên khách hàng</span>
                  </th>
                  <th>
                      <span>Tiền đưa khách</span>
                  </th>
                  <th>
                      <span>Tổng tiền</span>
                  </th>
                  <th>
                      <span>Tổng số ngày</span>
                  </th>
                  <th>
                      <span>Chu kỳ</span>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-batHo>
              <tr [pSelectableRow]="batHo" [routerLink]="['../../bat-ho-admin', batHo.id ]">
                  <td>{{batHo.id}}</td>
                  <td>{{batHo.hopdong.khachHangTen}}</td>
                  <td>{{batHo.tienduakhach}}</td>
                  <td>{{batHo.tongtien}}</td>
                  <td>{{batHo.tongsongay}}</td>
                  <td>{{batHo.chuky}}</td>
              </tr>
          </ng-template>
      </p-table>
  </p-tabPanel>
  <p-tabPanel header="Danh sách vay lãi">
      <p-table [value]="vayLais" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selected" dataKey="id">
          <ng-template pTemplate="header">
              <tr>
                  <th>
                      <span>ID</span>
                  </th>
                  <th>
                      <span>Tên khách hàng</span>
                  </th>
                  <th>
                      <span>Số tiền vay</span>
                  </th>
                  <th>
                      <span>Thời gian vay</span>
                  </th>
                  <th>
                      <span>Chu kỳ lãi</span>
                  </th>
                  <th>
                      <span>Tiền lãi</span>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-vayLai>
              <tr [pSelectableRow]="vayLai" [routerLink]="['../../vay-lai-admin', vayLai.id ]">
                  <td>{{vayLai.id}}</td>
                  <td>{{vayLai.hopdongvl.khachHangTen}}</td>
                  <td>{{vayLai.tienvay}}</td>
                  <td>{{vayLai.thoigianvay}}</td>
                  <td>{{vayLai.chukylai}}</td>
                  <td>{{vayLai.lai}}</td>
              </tr>
          </ng-template>
      </p-table>
  </p-tabPanel>
  </p-tabView>
</div>