<div *ngIf="nhanVien">
  <h2>
    <span>Nhân viên</span> {{nhanVien.ten}}</h2>
  <hr>

  <div class="row">
    <div class="col-md-4 offset-md-1">
      <p-galleria [images]="images" panelWidth="100%" panelHeight="313" [showCaption]="false"></p-galleria>
    </div>
    <div class="col-md-6 offset-md-1">
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td rowspan="3">
              <span class="fa fa-address-card-o fa-5x text-primary"></span>
            </td>
            <td>
              <b>Họ và tên</b>: {{nhanVien.ten}}
            </td>
            <td rowspan="3">&nbsp;</td>
            <td rowspan="3">
              <span class="fa fa-cogs fa-5x text-primary"></span>
            </td>
            <td>
              <b>Trạng thái</b>:
              <span>{{nhanVien.trangthai}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <b>Số chứng minh thư</b>: {{nhanVien.cmnd}}
            </td>
            <td>
              <span class="fa fa-user text-primary"></span>
              <b>User</b>: {{nhanVien.userId}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="fa fa-phone text-primary"></span>: {{nhanVien.dienthoai}}
            </td>
            <td>
              <b>Thuộc cửa hàng</b>: {{nhanVien.cuaHangId}}
            </td>
          </tr>
          <tr>
            <td colspan="5">&nbsp;</td>
          </tr>
          <tr>
            <td rowspan="2">
              <span class="fa fa-map-marker fa-5x text-primary"></span>
            </td>
            <td>
              <b>Địa chỉ</b>: {{nhanVien.diachi}}
            </td>
            <td rowspan="3">&nbsp;</td>
            <td rowspan="2">
              <span class="fa fa-pencil-square-o text-primary fa-4x"></span>
              <br/>Ghi chú
            </td>
            <td rowspan="2">
              <span>{{nhanVien.ghiChu}}</span>
            </td>
          </tr>
          <tr>
            <td>
              {{nhanVien.tenTinh}} - {{nhanVien.tenHuyen}} - {{nhanVien.tenXa}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button type="submit" (click)="previousState()" class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;
    <span>Quay lại</span>
  </button>
  <button type="button" [routerLink]="['/', { outlets: { popup: 'nhan-vien/'+ nhanVien.id + '/edit'} }]" replaceUrl="true"
    queryParamsHandling="merge" class="btn btn-primary">
    <span class="fa fa-pencil"></span>&nbsp;
    <span>Chỉnh sửa</span>
  </button>
  <p-tabView>
    <p-tabPanel header="Danh sách bát họ">
      <p-table [value]="batHos" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <span>ID</span>
            </th>
            <th>
              <span>Tên khách hàng</span>
            </th>
            <th>
              <span>Tiền đưa khách</span>
            </th>
            <th>
              <span>Tổng tiền</span>
            </th>
            <th>
              <span>Tổng số ngày</span>
            </th>
            <th>
              <span>Chu kỳ</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-batHo>
          <tr [pSelectableRow]="batHo" [routerLink]="['../../bat-ho-admin', batHo.id ]">
            <td>{{batHo.id}}</td>
            <td>{{batHo.hopdong.khachHangTen}}</td>
            <td>{{batHo.tienduakhach}}</td>
            <td>{{batHo.tongtien}}</td>
            <td>{{batHo.tongsongay}}</td>
            <td>{{batHo.chuky}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Danh sách vay lãi">
      <p-table [value]="vayLais" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <span>ID</span>
            </th>
            <th>
              <span>Tên khách hàng</span>
            </th>
            <th>
              <span>Số tiền vay</span>
            </th>
            <th>
              <span>Thời gian vay</span>
            </th>
            <th>
              <span>Chu kỳ lãi</span>
            </th>
            <th>
              <span>Tiền lãi</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vayLai>
          <tr [pSelectableRow]="vayLai" [routerLink]="['../../vay-lai-admin', vayLai.id ]">
            <td>{{vayLai.id}}</td>
            <td>{{vayLai.hopdongvl.khachHangTen}}</td>
            <td>{{vayLai.tienvay}}</td>
            <td>{{vayLai.thoigianvay}}</td>
            <td>{{vayLai.chukylai}}</td>
            <td>{{vayLai.lai}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>