<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="modal-title" id="myNhanVienLabel" jhiTranslate="servertdjhipApp.nhanVien.home.createOrEditLabel">Create or edit a Nhan Vien</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!nhanVien.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="nhanVien.id" readonly />
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_ten">
                    <span class="fa fa-user"></span>
                    <span jhiTranslate="servertdjhipApp.nhanVien.ten">Ten</span>
                </label>
                <input type="text" class="form-control" name="ten" id="field_ten" [(ngModel)]="nhanVien.ten" required/>
            </div>
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_diachi">
                    <span class="fa fa-home"></span>
                    <span jhiTranslate="servertdjhipApp.nhanVien.diachi">Diachi</span>
                </label>
                <input type="text" class="form-control" name="diachi" id="field_diachi" [(ngModel)]="nhanVien.diachi" maxlength="200" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="form-control-label" for="field_dienthoai">
                    <span class="fa fa-phone"></span>
                    <span jhiTranslate="servertdjhipApp.nhanVien.dienthoai">Dienthoai</span>
                </label>
                <input type="text" class="form-control" name="dienthoai" id="field_dienthoai" [(ngModel)]="nhanVien.dienthoai" />
            </div>
            <div class="form-group col-md-4">
                <label class="form-control-label" for="field_cmnd">
                    <span class="fa fa-address-card-o"></span>
                    <span jhiTranslate="servertdjhipApp.nhanVien.cmnd">CMND</span>
                </label>
                <input type="text" class="form-control" name="cmnd" id="field_cmnd" [(ngModel)]="nhanVien.cmnd" maxlength="11" />
            </div>
            <div class="form-group col-md-4">
                <label class="form-control-label" for="field_trangthai">
                    <span class="fa fa-folder-open-o"></span>
                    <span jhiTranslate="servertdjhipApp.nhanVien.trangthai">Trangthai</span>
                </label>
                <select class="form-control" name="trangthai" [(ngModel)]="nhanVien.trangthai" id="field_trangthai">
                    <option value="DUNGHOATDONG">{{'servertdjhipApp.TrangThaiNhanVien.DUNGHOATDONG' | translate}}</option>
                    <option value="NHANVIEN">{{'servertdjhipApp.TrangThaiNhanVien.NHANVIEN' | translate}}</option>
                    <option value="QUANLYCUAHANG">{{'servertdjhipApp.TrangThaiNhanVien.QUANLYCUAHANG' | translate}}</option>
                    <option value="QUANTRI">{{'servertdjhipApp.TrangThaiNhanVien.QUANTRI' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_ghiChu">
                        <span class="fa fa-sticky-note-o"></span>
                        <span jhiTranslate="servertdjhipApp.nhanVien.ghiChu">Ghi Chu</span>
                    </label>
                    <textarea [rows]="5" [cols]="30" type="text" class="form-control" name="ghiChu" id="field_ghiChu" [(ngModel)]="nhanVien.ghiChu"
                        maxlength="3000"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_xa">
                            <span class="fa fa-map-o"></span>
                            <span jhiTranslate="servertdjhipApp.nhanVien.tinh">Tinh</span>
                        </label>
                        <p-autoComplete [(ngModel)]="tinh" name="basic" [suggestions]="filteredTinhs" (completeMethod)="filterTinhs($event)" field="ten"
                            [size]="30" [inputStyle]="{'width':'100%'}" placeholder="Tỉnh" [minLength]="1"></p-autoComplete>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_huyen">
                            <span class="fa fa-map-o"></span>
                            <span jhiTranslate="servertdjhipApp.nhanVien.huyen">Huyen</span>
                        </label>
                        <p-autoComplete [(ngModel)]="huyen" name="basic" [suggestions]="filteredHuyens" (completeMethod)="filterHuyens($event)" field="ten"
                            [size]="30" [inputStyle]="{'width':'80%'}" placeholder="Huyện" [minLength]="1" [dropdown]="true"></p-autoComplete>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_xa">
                            <span class="fa fa-map-o"></span>
                            <span jhiTranslate="servertdjhipApp.nhanVien.xa">Xa</span>
                        </label>
                        <!-- <select class="form-control" id="field_xa" name="xa" [(ngModel)]="nhanVien.xaId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="xaOption.id" *ngFor="let xaOption of xas; trackBy: trackXaById">{{xaOption.id}}</option>
                        </select> -->
                        <p-autoComplete [(ngModel)]="xa" name="basic" [suggestions]="filteredXas" (completeMethod)="filterXas($event)" field="ten"
                            [size]="30" [inputStyle]="{'width':'80%'}" placeholder="Xã" [minLength]="1" [dataKey]="id" [dropdown]="true"></p-autoComplete>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" for="field_user">
                            <span class="fa fa-user"></span>
                            <span jhiTranslate="servertdjhipApp.nhanVien.user">User</span>
                        </label>
                        <select class="form-control" id="field_user" name="user" [(ngModel)]="nhanVien.userId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="form-control-label">
                    <span class="fa fa-image"></span>
                    Chứng từ</label>
                <!-- <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload> -->
                <p-fileUpload multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>

    </div>
</form>