<div>
    <div class="row modal-header">
        <div class="col-md-6">
            <h2>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span jhiTranslate="servertdjhipApp.nhanVien.home.title">Nhan Viens</span>
            </h2>
        </div>
        <div class="col-md-3" *jhiHasAnyAuthority="['ROLE_STORE', 'ROLE_ADMIN']">
            <button class="btn btn-success float-right jh-create-entity create-nhan-vien" [routerLink]="['/', { outlets: { popup: ['nhan-vien-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="servertdjhipApp.nhanVien.home.createLabel">
                    Create new Nhan Vien
                </span>
            </button>
        </div>
        <div class="col-md-2 offset-md-1" *jhiHasAnyAuthority="['ROLE_STORE', 'ROLE_ADMIN']">
            <button class="btn btn-success pull-left" [routerLink]="['/', { outlets: { popup: ['user-management-new'] } }]" routerLinkActive="active">
                <span class="fa fa-plus"></span>
                <span>
                    Tạo tài khoản mới
                </span>
            </button> 
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <h3>
        <i class="pi pi-search" width="20%" aria-hidden="true"></i>
        Tìm nhân viên
    </h3>
    <div class="ui-g-2">
        <pe-step label="Float label">
            <span class="ui-float-label">
                <input id="float-input" name="keyTimNhanVien" [(ngModel)]="keyTimNhanVien" pInputText type="text" size="30" pTooltip="Tên nhân viên / CMND / SĐT"
                    tooltipPosition="top" tooltipEvent="focus">
                <label for="float-input">Thông tin tìm kiếm</label>
            </span>
        </pe-step>
    </div>
    <div class="ui-g-2">
        <button class="btn btn-primary float-left" (click)="timNhanVien()">
            <span class="pi pi-search"></span>
            Tìm kiếm</button>
    </div>
    <br/>
    <div *ngIf="nhanViens">
        <p-table [value]="nhanViens" [paginator]="true" [responsive]="true" [rows]="10" selectionMode="single" [(selection)]="selected" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">ID</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.nhanVien.ten">Ten</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.nhanVien.diachi">Diachi</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.nhanVien.dienthoai">Dienthoai</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.nhanVien.cmnd">Cmnd</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.nhanVien.trangthai">Trangthai</span>
                    </th>
                    <th>
                        <span jhiTranslate="servertdjhipApp.nhanVien.user">User</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nhanVien>
                <tr [pSelectableRow]="nhanVien" [routerLink]="['../nhan-vien', nhanVien.id ]">
                    <td>{{nhanVien.cuaHangId}}</td>
                    <td>{{nhanVien.ten}}</td>
                    <td>{{nhanVien.diachi}}</td>
                    <td>{{nhanVien.dienthoai}}</td>
                    <td>{{nhanVien.cmnd}}</td>
                    <td jhiTranslate="{{'servertdjhipApp.TrangThaiNhanVien.' + nhanVien.trangthai}}">{{nhanVien.trangthai}}</td>
                    <td>{{nhanVien.userId}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>