<form>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myVayLaiLabel" jhiTranslate="servertdjhipApp.vayLai.home.createOrEditLabel">Create or edit a Vay Lai</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.hopDong.mahopdong" for="field_mahopdong">Mahopdong</label>
                                    <input type="text" placeholder="VH-x / CD-x" class="form-control" name="mahopdong" id="field_mahopdong" required maxlength="20"
                                    />
                                    <!-- <div [hidden]="!(editForm.controls.mahopdong?.dirty && editForm.controls.mahopdong?.invalid)">
                                            <small class="form-text text-danger" [hidden]="!editForm.controls.mahopdong?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger" [hidden]="!editForm.controls.mahopdong?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                                                translateValues="{ max: 20 }">
                                                This field cannot be longer than 20 characters.
                                            </small>
                                        </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.tienvay" for="field_tienvay">Tienvay</label>
                                    <input type="number" class="form-control" name="tienvay" id="field_tienvay" required/>
                                    <!-- <div [hidden]="!(editForm.controls.tienvay?.dirty && editForm.controls.tienvay?.invalid)">
                                                <small class="form-text text-danger" [hidden]="!editForm.controls.tienvay?.errors?.required" jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                                <small class="form-text text-danger" [hidden]="!editForm.controls.tienvay?.errors?.number" jhiTranslate="entity.validation.number">
                                                    This field should be a number.
                                                </small>
                                            </div> -->
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.thoigianvay" for="field_thoigianvay">Thoigianvay</label>
                                    <input type="number" class="form-control" name="thoigianvay" id="field_thoigianvay" required/>
                                    <!-- <div [hidden]="!(editForm.controls.thoigianvay?.dirty && editForm.controls.thoigianvay?.invalid)">
                                            <small class="form-text text-danger" [hidden]="!editForm.controls.thoigianvay?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger" [hidden]="!editForm.controls.thoigianvay?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </div> -->
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.hinhthuclai" for="field_hinhthuclai">Hinhthuclai</label>
                                    <select class="form-control" name="hinhthuclai" id="field_hinhthuclai" required>
                                        <option value="NGAY">{{'servertdjhipApp.HINHTHUCLAI.NGAY' | translate}}</option>
                                        <option value="THANG">{{'servertdjhipApp.HINHTHUCLAI.THANG' | translate}}</option>
                                        <option value="TUAN">{{'servertdjhipApp.HINHTHUCLAI.TUAN' | translate}}</option>
                                        <option value="NAM">{{'servertdjhipApp.HINHTHUCLAI.NAM' | translate}}</option>
                                        <option value="THANGCODINH">{{'servertdjhipApp.HINHTHUCLAI.THANGCODINH' | translate}}</option>
                                    </select>
                                    <!-- <div [hidden]="!(editForm.controls.hinhthuclai?.dirty && editForm.controls.hinhthuclai?.invalid)">
                                            <small class="form-text text-danger" [hidden]="!editForm.controls.hinhthuclai?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.cachtinhlai" for="field_cachtinhlai">Cachtinhlai</label>
                                    <select class="form-control" name="cachtinhlai" id="field_cachtinhlai" required>
                                        <option value="MOTTRIEU">{{'servertdjhipApp.TINHLAI.MOTTRIEU' | translate}}</option>
                                        <option value="CHUKY">{{'servertdjhipApp.TINHLAI.CHUKY' | translate}}</option>
                                        <option value="PHANTRAM">{{'servertdjhipApp.TINHLAI.PHANTRAM' | translate}}</option>
                                    </select>
                                    <!-- <div [hidden]="!(editForm.controls.cachtinhlai?.dirty && editForm.controls.cachtinhlai?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.cachtinhlai?.errors?.required" jhiTranslate="entity.validation.required">
                                                        This field is required.
                                                    </small>
                                                </div> -->
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.chukylai" for="field_chukylai">Chukylai</label>
                                    <input type="number" placeholder="VD: 5 ngày nộp lãi 1 lần thì ghi số 5" class="form-control" name="chukylai" id="field_chukylai"
                                        required/>
                                    <!-- <div [hidden]="!(editForm.controls.chukylai?.dirty && editForm.controls.chukylai?.invalid)">
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.chukylai?.errors?.required" jhiTranslate="entity.validation.required">
                                                        This field is required.
                                                    </small>
                                                    <small class="form-text text-danger" [hidden]="!editForm.controls.chukylai?.errors?.number" jhiTranslate="entity.validation.number">
                                                        This field should be a number.
                                                    </small>
                                                </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.lai" for="field_lai">Lai</label>
                                    <input type="number" placeholder="Phụ thuộc theo hình thức / cách thức tính lãi" class="form-control" name="lai" id="field_lai"
                                        required/>
                                    <!-- <div [hidden]="!(editForm.controls.lai?.dirty && editForm.controls.lai?.invalid)">
                                                                <small class="form-text text-danger" [hidden]="!editForm.controls.lai?.errors?.required" jhiTranslate="entity.validation.required">
                                                                    This field is required.
                                                                </small>
                                                                <small class="form-text text-danger" [hidden]="!editForm.controls.lai?.errors?.number" jhiTranslate="entity.validation.number">
                                                                    This field should be a number.
                                                                </small>
                                                            </div> -->
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" jhiTranslate="servertdjhipApp.vayLai.thulaitruoc" for="field_thulaitruoc">Thulaitruoc</label>
                                    <br />
                                    <p-inputSwitch name="thulaitruoc" class="form-control" id="field_thulaitruoc" onLabel="Có" offLabel="Không"></p-inputSwitch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p-autoComplete placeholder="Nhập CNMD cần tìm" [maxLength]="11"></p-autoComplete>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary float-left">Tìm kiếm</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary float-right jh-create-entity create-khach-hang" [routerLink]="['/', { outlets: { popup: ['khach-hang-new'] } }]">
                                        <span class="fa fa-plus"></span>
                                        <span jhiTranslate="servertdjhipApp.khachHang.home.createLabel">
                                            Create new Khach Hang
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <!--TODO: Scroll Panel PrimeNG-->
                                <div class="col-md-12">
                                    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                                        <table class="table table-striped table-hover text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.ten">Ten</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.cmnd">CMND</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.diachi">Diachi</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.dienthoai">Dienthoai</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.trangthai">Trangthai</span>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Nguyễn văn A</td>
                                                    <td>01234567890</td>
                                                    <td>Số A ngõ B phố C</td>
                                                    <td>01234567890</td>
                                                    <td>Hoạt động</td>
                                                    <td>
                                                        <button class="btn btn-primary">Chọn</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nguyễn văn A</td>
                                                    <td>01234567890</td>
                                                    <td>Số A ngõ B phố C</td>
                                                    <td>01234567890</td>
                                                    <td>Hoạt động</td>
                                                    <td>
                                                        <button class="btn btn-primary">Chọn</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Nguyễn văn A</td>
                                                    <td>01234567890</td>
                                                    <td>Số A ngõ B phố C</td>
                                                    <td>01234567890</td>
                                                    <td>Hoạt động</td>
                                                    <td>
                                                        <button class="btn btn-primary">Chọn</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-scrollPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="form-control-label" jhiTranslate="servertdjhipApp.hopDong.ghichu" for="field_ghichu">Ghichu</label>
                <textarea [rows]="5" class="form-control" name="ghiChu" id="field_ghiChu" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                <!-- <div [hidden]="!(editForm.controls.ghichu?.dirty && editForm.controls.ghichu?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.ghichu?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                                translateValues="{ max: 3000 }">
                                This field cannot be longer than 3000 characters.
                            </small>
                            </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-control-label">Tài sản / chứng từ</label>
                <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
            </div>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div> -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
    </div>
</form>