<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-header">
                        <h4>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="modal-title" id="myVayLaiLabel" jhiTranslate="servertdjhipApp.vayLai.home.createOrEditLabel">Create or edit a Vay Lai</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="form-control-label" for="field_mahopdong">
                                        <span class="fa fa-credit-card"></span>
                                        <span jhiTranslate="servertdjhipApp.hopDong.mahopdong">Mahopdong</span>
                                    </label>
                                    <input [(ngModel)]="vayLai.hopdongvl.mahopdong" type="text" placeholder="VH-x / CD-x" class="form-control" name="mahopdong"
                                        id="field_mahopdong" pTooltip="Nhập mã hợp đồng
                                    Có định dạng 'VL-x/CD-x'" tooltipPosition="top" tooltipEvent="focus" required maxlength="20"
                                    />
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_tienvay">
                                        <span class="fa fa-money"></span>
                                        <span jhiTranslate="servertdjhipApp.vayLai.tienvay">Tienvay</span>
                                    </label>
                                    <p-spinner placeholder="0" [min]="0" [step]="500000" [inputStyle]="{'width':'100%'}" pKeyFilter="pnum" [(ngModel)]="vayLai.tienvay"
                                        class="form-control" name="tienvay" id="field_tienvay" pTooltip="Nhập số tiền khách vay (Đơn vị: VNĐ)"
                                        tooltipPosition="top" tooltipEvent="hover" required></p-spinner>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-control-label" for="field_thoigianvay">
                                        <span class="fa fa-calendar-check-o"></span>
                                        <span jhiTranslate="servertdjhipApp.vayLai.thoigianvay">Thoigianvay</span>
                                    </label>
                                    <input [(ngModel)]="vayLai.thoigianvay" [min]="0" type="number" pKeyFilter="pnum" class="form-control" pTooltip="Thời gian vay tính từ ngày tạo hợp đồng"
                                        tooltipPosition="top" tooltipEvent="focus" name="thoigianvay" id="field_thoigianvay"
                                        placeholder="0" required/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-control-label" for="field_chukylai">
                                        <span class="fa fa-refresh"></span>
                                        <span jhiTranslate="servertdjhipApp.vayLai.chukylai">Chukylai</span>
                                    </label>
                                    <input [(ngModel)]="vayLai.chukylai" type="number" pKeyFilter="pnum" placeholder="0" class="form-control" name="chukylai"
                                        id="field_chukylai" [min]="0" pTooltip="Nhập chu kỳ đóng lãi
                                        Ví dụ: 3 ngày đóng tiền 1 lần thì điền số 3" tooltipPosition="top" tooltipEvent="focus"
                                        required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="form-control-label" for="field_hinhthuclai">
                                        <span class="fa fa-folder-open-o"></span>
                                        <span jhiTranslate="servertdjhipApp.vayLai.hinhthuclai">Hinhthuclai</span>
                                    </label>
                                    <select [(ngModel)]="vayLai.hinhthuclai" class="form-control" name="hinhthuclai" id="field_hinhthuclai" required>
                                        <option value="NGAY">{{'servertdjhipApp.HINHTHUCLAI.NGAY' | translate}}</option>
                                        <option value="THANG">{{'servertdjhipApp.HINHTHUCLAI.THANG' | translate}}</option>
                                        <option value="TUAN">{{'servertdjhipApp.HINHTHUCLAI.TUAN' | translate}}</option>
                                        <option value="NAM">{{'servertdjhipApp.HINHTHUCLAI.NAM' | translate}}</option>
                                        <option value="THANGCODINH">{{'servertdjhipApp.HINHTHUCLAI.THANGCODINH' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-control-label" for="field_cachtinhlai">
                                        <span jhiTranslate="servertdjhipApp.vayLai.cachtinhlai">Cachtinhlai</span>
                                    </label>
                                    <select [(ngModel)]="vayLai.cachtinhlai" class="form-control" name="cachtinhlai" id="field_cachtinhlai" required>
                                        <option value="MOTTRIEU">{{'servertdjhipApp.TINHLAI.MOTTRIEU' | translate}}</option>
                                        <option value="CHUKY">{{'servertdjhipApp.TINHLAI.CHUKY' | translate}}</option>
                                        <option value="PHANTRAM">{{'servertdjhipApp.TINHLAI.PHANTRAM' | translate}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label" for="field_lai">
                                        <span class="fa fa-money"></span>
                                        <span jhiTranslate="servertdjhipApp.vayLai.lai">Lai</span>
                                    </label>
                                    <p-spinner placeholder="0" [min]="0" [step]="5000" [inputStyle]="{'width':'100%'}" [(ngModel)]="vayLai.lai" class="form-control"
                                        name="lai" id="field_lai" pTooltip="Phụ thuộc vào hình thức và cách tính lãi
                                        (Đơn vị: VNĐ)" tooltipPosition="top" tooltipEvent="hover" required></p-spinner>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-control-label" for="field_thulaitruoc">
                                        <span class="fa fa-toggle-on"></span>
                                        <span jhiTranslate="servertdjhipApp.vayLai.thulaitruoc">Thulaitruoc</span>
                                    </label>
                                    <br />
                                    <p-inputSwitch name="thulaitruoc" class="form-control" id="field_thulaitruoc" onLabel="Có" offLabel="Không"></p-inputSwitch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" name="keyTimKhachHang" pInputText placeholder="Tìm kiếm khách hàng" pTooltip="Nhập tên khách hàng/CMND"
                                        tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="keyTimKhachHang">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary float-left" (click)="timKhachHang()">
                                        <span class="pi pi-search"></span>
                                        <span>Tìm kiếm</span>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary float-right jh-create-entity create-khach-hang" routerLink="/khachHangMoi">
                                        <span class="fa fa-plus"></span>
                                        <span jhiTranslate="servertdjhipApp.khachHang.home.createLabel">
                                            Create new Khach Hang
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <!--TODO: Scroll Panel PrimeNG-->
                                <div class="col-md-12">
                                    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                                        <table class="table table-striped table-hover text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.ten">Ten</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.cmnd">CMND</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.diachi">Diachi</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.dienthoai">Dienthoai</span>
                                                    </th>
                                                    <th>
                                                        <span jhiTranslate="servertdjhipApp.khachHang.trangthai">Trangthai</span>
                                                    </th>
                                                    <th>Chọn</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let khachHang of khachHangs">
                                                    <td>{{khachHang.ten}}</td>
                                                    <td>{{khachHang.cmnd}}</td>
                                                    <td>{{khachHang.diachi}}</td>
                                                    <td>{{khachHang.dienthoai}}</td>
                                                    <td>{{khachHang.trangthai}}</td>
                                                    <td>
                                                        <input type="radio" name="selectKhachHang" [checked]="(idx === 0)" (change)="onSelectionChange(khachHang.id)" [value]="khachHang.id">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </p-scrollPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" for="field_ghichu">
                    <span class="fa fa-sticky-note-o"></span>
                    <span jhiTranslate="servertdjhipApp.hopDong.ghichu">Ghichu</span>
                </label>
                <textarea [rows]="5" class="form-control" name="ghiChu" id="field_ghiChu" [cols]="30" pTooltip="Điền thêm các thông tin khác"
                    tooltipPosition="top" tooltipEvent="focus" pInputTextarea autoResize="autoResize"></textarea>
            </div>
            <div class="col-md-6">
                <label class="form-control-label">Tài sản / chứng từ</label>
                <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <span class="fa fa-ban"></span>&nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" class="btn btn-success">
                <span class="fa fa-save"></span>&nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
    </div>
</form>