<div>
    <h2>
        <span jhiTranslate="servertdjhipApp.cuaHang.detail.title">Cua Hang</span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-bank fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Tên cửa hàng</b>: {{cuaHang.ten}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-phone text-primary"></span>: {{cuaHang.dienthoai}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-cogs fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Trạng thái</b>:
                        <span jhiTranslate="{{'servertdjhipApp.TrangThaiCuaHang.' + cuaHang.trangthai}}">{{cuaHang.trangthai}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Ngày tạo</b>: {{cuaHang.ngayTao | date:"dd/MM/yyyy"}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-responsive h4">
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-map-marker fa-5x text-primary"></span>
                    </td>
                    <td>
                        <b>Địa chỉ</b>: {{cuaHang.diachi}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{cuaHang.tenTinh}} - {{cuaHang.tenHuyen}} - {{cuaHang.tenXa}}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <span class="fa fa-pencil-square-o text-primary fa-4x"></span>
                        <br/>Ghi chú
                    </td>
                    <td rowspan="2">
                        {{cuaHang.ghiChu}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>