<div *ngIf="cuaHang">
    <h2>
        <span jhiTranslate="servertdjhipApp.cuaHang.detail.title">Cua Hang</span> {{cuaHang.ten}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="offset-md-2 col-md-4">
            <div class="row">
                <div class="col-md-2">
                    <span class="fa fa-bank fa-5x text-primary"></span>
                </div>
                <div class="col-md-10" style="font-size:18px">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Tên cửa hàng</b>: {{cuaHang.ten}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa fa-user text-primary"></span>
                            <b>Quản lý hiện tại</b>: cuaHang.quanLy
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa fa-phone text-primary"></span>: {{cuaHang.dienthoai}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:100px">
                <div class="col-md-2">
                    <span class="fa fa-cogs text-primary fa-5x"></span>
                </div>
                <div class="col-md-10" style="font-size:18px">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Trạng thái</b>:
                            <span jhiTranslate="{{'servertdjhipApp.TrangThaiCuaHang.' + cuaHang.trangthai}}">{{cuaHang.trangthai}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Ngày tạo</b>: {{cuaHang.ngayTao | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-1">
                    <span class="fa fa-map-marker fa-3x text-primary"></span>
                </div>
                <div class="col-md-11" style="font-size:18px">
                    <div class="row">
                        <div class="col-md-12">
                            {{cuaHang.diachi}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{cuaHang.tenTinh}} - {{cuaHang.tenHuyen}} - {{cuaHang.tenXa}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:125px">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa fa-pencil-square-o text-primary fa-4x"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="font-size:18px">
                            <b>Ghi chú</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" style="font-size:18px">
                    <span>{{cuaHang.ghiChu}}</span>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" [routerLink]="['/', { outlets: { popup: 'cua-hang/'+ cuaHang.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>