
<div *ngIf="cuaHang">
    <h2><span jhiTranslate="servertdjhipApp.cuaHang.detail.title">Cua Hang</span> {{cuaHang.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.ten">Ten</span></dt>
        <dd>
            <span>{{cuaHang.ten}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.diachi">Diachi</span></dt>
        <dd>
            <span>{{cuaHang.diachi}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.dienthoai">Dienthoai</span></dt>
        <dd>
            <span>{{cuaHang.dienthoai}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.trangthai">Trangthai</span></dt>
        <dd>
            <span jhiTranslate="{{'servertdjhipApp.TrangThaiCuaHang.' + cuaHang.trangthai}}">{{cuaHang.trangthai}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.ngayTao">Ngay Tao</span></dt>
        <dd>
            <span>{{cuaHang.ngayTao | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.ghiChu">Ghi Chu</span></dt>
        <dd>
            <span>{{cuaHang.ghiChu}}</span>
        </dd>
        <dt><span jhiTranslate="servertdjhipApp.cuaHang.xa">Xa</span></dt>
        <dd>
            <div *ngIf="cuaHang.xaId">
                <a [routerLink]="['/xa', cuaHang.xaId]">{{cuaHang.xaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cua-hang/'+ cuaHang.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
